 ## CAO Points Notebook
 
 - clear and concise overview of how to load CAO points info from the CAO website into a PANDAS dataframe
 - Detailed comparison of CAO points in 2019,2020,2021 using the functionality in pandas
 - Appropriate plots and other visuaizations to enhance your notebook for viewers

http://www2.cao.ie/points/l8.php

***
'PHP' indicates that the webpage has been programmed using PHP, a server side scripting language.

# Clear and concise overview of how to load CAO points info from the CAO website into a PANDAS dataframe

In [1]:
#convenient http requests
import requests as rq

# regular expressions
import re

#dates and times
import datetime as dt

# for dataframes import pandas
# v useful to get data from spreadsheets
import pandas as pd

#for downloading files to python
import urllib.request as urlrq

In [2]:
#now = dt.datetime.now()

In [3]:
#datetime function has a data structure called datetime
#field for time, day ,month etc
#dt.datetime.now()
now = dt.datetime.now()
now

datetime.datetime(2021, 12, 14, 21, 25, 53, 825568)

In [4]:
# format now as a string
#if have datetimestamp as separate and unique at the start of the notebook
# then potentially can overwrite but on positive side all files 
# created in logbook run will have the same datetimestamp so neater and can track
#2020 datafile saved as'now' file is equivalent to corresponding 2021 saved as same'now' etc
nowstr = now.strftime('%Y%m%d_%H%M%S')

In [5]:
print(now)

2021-12-14 21:25:53.825568

# 2021 points

http://www2.cao.ie/points/l8.php

***

In [6]:
# fetch the CAO points URL
# resp= response from the URL
# rq= request library
# get= get the url (NB: gets the HTTP version!)
resp_2021 = rq.get ('http://www2.cao.ie/points/l8.php')
#have a quick peek
resp_2021
# resp [200] means html response is in order.  [404] if returns means it is not found .  These are http codes

## Save the original dataset
#### use the current time (changed to str above) as a filename

In [7]:
# good programmers use only alphanumeric characters,dash and dot in file names
#create a filepath for the original data
#use year at start to ensure alphabetic sorted when filed
# below creates the EMPTY html file and saves it in a new 'data' folder in active location  ie. \repo\Fun_of..
path2021html = 'data/cao2021_' + nowstr + '.html'

### the server uses the wrong encoding fix it before saving

In [8]:
#RESP = RESPONSE
#'resp.text' takes the response and converts it to text- but still has original errors
#thus not best way to save THIS original file
#but resp.text is a typical way to save

In [9]:
# The server uses the wrong encoding, fix it
original_encoding = resp_2021.encoding

# Change to cp1252
resp_2021.encoding = 'cp1252'

In [10]:
#save the original html file:
# using the updated coding cp1252 as a TEXT file
#this file is not used in the regular expression script but saved as a record 

with open(path2021html, 'w') as f:
    f.write(resp_2021.text)

In [11]:
# python looks for html codes such as \n \t
#\n is a new line (common Unix command)
#resp.text

https://stackabuse.com/pythons-itertools-count-cycle-and-chain/

In [12]:
# how to loop through (iterate through) the lines in request. 
# outputs the raw html
#for line in resp.iter_lines(): 
    #print(line)

In [13]:
#compile the regular expression for matching lines
# re= regular expression. Each character is a string but together form an instruction.
# r' = 'raw' used in python. It means don't evaluate backslashes in encountered string literals  i.e. \n \t i.e 
#\*? = if compiler encounters a three number pattern followed by an asterisk- that is acceptable and include in the compliler
# the following asterisk ('wild card') means zero or more characters after this are allowed

#re_course = re.compile(r'([A-Z]{2}[0-9]{3})  (.*)([0-9]{3})(.*)')
re_course = re.compile(r'([A-Z]{2}[0-9]{3})  (.*)([0-9]{3})(\*?) *')

#shortened RE to simplify i.e. does the line have two alphabetic characters followed by three numbers followed by anything else
#re_course = re.compile(r'([A-Z]{2}[0-9]{3})(.*)')

#### cao2021 course count anomalies:

when use re_course = re.compile(r'([A-Z]{2}[0-9]{3})(.*)') course count = 949
re_course = re.compile(r'([A-Z]{2}[0-9]{3})  (.*)([0-9]{3})(\*?) *')  course count = 922

The difference is the simpler 1st regular expression returns courses (code and course title) without an associated points entry e.g. 
AL811,Civil Engineering,,

<img src="images/CAOhtmlscreenshot.png" width="500"/>

A direct comparison of the two files in Notepad ++ identified the following lines returned with the simpler regular expression which accounts for the difference
1.	AL811,Civil Engineering,,
2.	CK114,Social Science (Youth and Community Work),#,
3.	CK115,Social Work - Mature Applicants only,,
4.	CK791,Medicine  - Graduate Entry (GAMSAT required),#60*,#60*
5.	DB503,Computing (Software Development),,
6.	DB504,Computing (Web and Mobile Technology),,
7.	GC402,Business (HRM),,
8.	ID001,Accounting and Finance,,
9.	ID002,Business Studies,,
10.	RC101,Medicine - Graduate Entry (GAMSAT required),,
11.	DN301,Veterinary Medicine - Graduate Entry (GAMSAT requi,,
12.	DN401,Medicine - Graduate Entry (GAMSAT required),#61*,
13.	DN411,Radiography - Graduate Entry,#,
14.	DK885,Agri-Food Production,,
15.	GA892,Community Development and Youth Work (Level 8),,
16.	GA983,Furniture and Digital Manufacturing,,
17.	LM101,Medicine  - Graduate Entry (GAMSAT required),#57*,
18.	MU002,Theology,,
19.	MH002,Education - Primary Teaching - Gaeltacht Applicant,,
20.	MH103,Music,#,
21.	MH116,Community and Youth Work (Full-Time),#,
22.	MH801,Early Childhood - Teaching and Learning (part-time,AQA,AQA
23.	MH802,Community and Youth Work (part-time  in service),,#
24.	MH803,Local Studies/Community Studies (part-time  evenin,,#
25.	SG349,Electronics and Self Driving Technologies,,
26.	TL842,Construction Management,,
27.	TL889,Counselling with Addiction - Mature applicants onl,,

Therefore the longer regular expression which matches to lines with course points is the recommended course to use. <br>
However other year CAO points to be checked for consistency with courses.

# Notes: 
### Open two csv files in notepad and compare (plugins).
- This could be used to compare between years and identify added, missing courses, anomalies that need the RE modified

<br>

**error on the server= way to fix**

match only the lines we want -the ones representing courses 
 technically the server says we should decode as:
 
content-type: text/html; charset: iso-8859-1

  but
    -one line uses /x96 which isn't defined in iso-8859-1
    -therefore we used the similiar decoding standard (codec) cp-1252 which is very similar but includes \x96

### loop through the lines of the response
***

In [14]:
#the filepath for the csv file- which is the output of the below script
#path2021csv = 'data/cao2021_csv' + now.strftime('%Y%m%d_%H%M%S')  + '.csv'
path2021csv = 'data/cao2021_csv' + nowstr + '.csv'

In [15]:
#PASTED IN FROM IMcL NOTEBOOK FROM COURSEBOOK
# Keep track of how many courses we process.
no_lines = 0

# Open the csv file for writing.
with open(path2021csv, 'w') as f:
    # Write a header row.
    f.write(','.join(['code', 'title', 'pointsR1', 'pointsR2']) + '\n')
    # Loop through lines of the response.
    for line in resp_2021.iter_lines():
        # Decode the line, using the wrong encoding!
        dline = line.decode('cp1252')
        # Match only the lines representing courses.
        if re_course.fullmatch(dline):
            # Add one to the lines counter.
            no_lines = no_lines + 1
            print(line)
            # The course code.
            course_code = dline[:5]
            # The course title.
            course_title = dline[7:57].strip()
            # Round one points.
            course_points = re.split(' +', dline[60:])
            if len(course_points) != 2:
                course_points = course_points[:2]
            # Join the fields using a comma.
            linesplit = [course_code, course_title, course_points[0], course_points[1]]
            # Rejoin the substrings with commas in between.
            f.write(','.join(linesplit) + '\n')

# Print the total number of processed lines.
print(f"Total number of lines is {no_lines}.")

b'AL801  Software Design for Virtual Reality and Gaming       300      '
b'AL802  Software Design in Artificial Intelligence for Clo   313      '
b'AL803  Software Design for Mobile Apps and Connected Devi   350      '
b'AL805  Computer Engineering for Network Infrastructure      321      '
b'AL810  Quantity Surveying                                   328      '
b'AL820  Mechanical and Polymer Engineering                   327      '
b'AL830  General Nursing                                      451*     444'
b'AL832  Mental Health Nursing                                440*     431'
b'AL835  Pharmacology                                         356      '
b'AL836  Nutrition and Health Science                         346      '
b'AL837  Sports Science with Exercise Physiology              357      '
b'AL838  Biotechnology                                        324      '
b'AL839  Microbiology                                         325      '
b'AL840  Pharmaceutical Sciences                              346      '
b'AL841  Athletic and Rehabilitation Therapy                  477      476*'
b'AL842  Bioveterinary Science                                338      '
b'AL843  Physical Activity and Health Science                 306      '
b'AL849  Culinary Entrepreneurship                            297      '
b'AL850  Business                                             309      '
b'AL851  Business and Law                                     302      '
b'AL852  Accounting                                           336      '
b'AL854  Sport Management (with international placement)      300      299'
b'AL855  Hospitality Management (with international placeme   309      '
b'AL857  Digital Marketing                                    304      '
b'AL859  International Business                               308      '
b'AL860  Social Care Practice                                 301      '
b'AL861  Animation and Illustration (portfolio)               #575     '
b'AL863  Graphic and Digital Design (portfolio)               #747     '
b'AL864  Early Years Care and Education                       306      '
b'AL870  Applied Psychology                                   484*     467*'
b'CW018  Business (options)                                   307      '
b'CW028  Early Childhood Education and Care                   260      '
b'CW038  Art (portfolio)                                      #700     '
b'CW058  Tourism and Event Management                         292      '
b'CW068  Applied Social Studies in Professional Social Care   250      '
b'CW078  Sustainable Farm Management and Agribusiness         270      '
b'CW088  Visual Communications and Design                     270      '
b'CW108  Science (options)                                    266      '
b'CW128  Brewing and Distilling                               307      '
b'CW138  Sport and Exercise Science                           430      423'
b'CW148  Strength and Conditioning                            388      '
b'CW188  Sport Rehabilitation and Athletic Therapy            451      '
b'CW208  Computer Games Development                           272      '
b'CW238  Software Development                                 295      '
b'CW248  Information Technology Management                    293      '
b'CW258  Cybercrime and IT Security                           292      '
b'CW268  Computing in Interactive Digital Art and Design      291      '
b'CW438  Construction (options)                               260      251'
b'CW468  Architectural Technology                             291      283'
b'CW478  Civil Engineering                                    465      '
b'CW548  Mechanical Engineering                               330      328'
b'CW558  Electronic Systems                                   280      '
b'CW568  Aerospace Engineering                                371      359'
b'CW578  TV and Media Production                              318      '
b'CW708  Law - LLB                                            292      '
b'CW728  Product Design Innovation                            246      '
b'CW748  Early Childhood Education and Care                   290      '
b'CW758  Professional Social Care Practice                    360      358'
b'CW808  Media and Public Relations                           247      '
b'CW848  Digital Marketing with Analytics                     269      '
b'CW858  Sports Management and Coaching (options  portfolio   #700     '
b'CW908  Business (options)                                   272      '
b'CW938  Business with Law                                    270      '
b'CW948  Accounting                                           319      '
b'PC405  Social  Political and Community Studies              263      235'
b'PC410  Arts and Humanities (fulfils Teaching Council requ   262      230'
b'PC411  English and History (fulfils Teaching Council requ   243      224'
b'CR105  Chemical and Biopharmaceutical Engineering           443      '
b'CR106  Software Development                                 431      '
b'CR108  Mechanical Engineering                               434      '
b'CR109  Structural Engineering                               396      '
b'CR110  Automotive Business Management and Technology        336      '
b'CR112  Creative Digital Media at CIT Crawford College of    390      '
b'CR116  Computer Systems                                     365      '
b'CR121  Music at CIT Cork School of Music                    #904     #904'
b'CR125  Popular Music at CIT Cork School of Music            #1028    '
b'CR130  Musical Theatre at CIT Cork School of Music          #525     '
b'CR150  Business Information Systems                         350      '
b'CR210  Contemporary Applied Art (Ceramics  Glass  Textile   #450     '
b'CR220  Fine Art at CIT Crawford College of Art and Design   #400     '
b'CR225  Photography with New Media at CIT Crawford College   #435     '
b'CR305  Physical Sciences (Common Entry)                     260      '
b'CR310  IT Management                                        347      '
b'CR320  Biomedical Science - Offered jointly by CIT and UC   590*     '
b'CR325  Pharmaceutical Biotechnology                         466      '
b'CR333  Nutrition and Health Science                         425      '
b'CR335  Biological Sciences (Common Entry)                   473      '
b'CR340  Analytical Chemistry with Quality Assurance          327      '
b'CR360  Instrument Engineering                               301      '
b'CR365  Environmental Science and Sustainable Technology     262      '
b'CR370  Agri-Biosciences                                     368      '
b'CR400  Accounting                                           315      '
b'CR420  Marketing                                            290      '
b'CR425  International Business with Language                 279      '
b'CR430  Sport and Exercise Management                        402      '
b'CR435  Coaching Science and Sports Pedagogy                 410      '
b'CR440  Montessori Education                                 409      408'
b'CR500  Engineering (Common Entry)                           475      '
b'CR510  Sustainable Energy Engineering                       320      '
b'CR520  Biomedical Engineering                               444      '
b'CR560  Architectural Technology                             375      '
b'CR565  Interior Architecture                                431      '
b'CR570  Quantity Surveying                                   375      '
b'CR572  Construction Management                              300      '
b'CR580  Electrical Engineering                               342      '
b'CR590  Electronic Engineering                               329      '
b'CR600  Visual Communications at CIT Crawford College of A   #280     '
b'CR660  Tourism Management                                   246      '
b'CR700  Theatre and Drama Studies at CIT Cork School of Mu   #609     #609'
b'CR930  Home Economics and Business                          518*     '
b'CK101  Arts - 3 years                                       300      '
b'CK102  Social Science                                       434      431'
b'CK104  Arts with Music - 3 or 4 years (BMus or Chinese/Eu   #339     '
b'CK105  Film and Screen Media - 3 years or 4 years (Intern   421      420*'
b'CK107  Geographical and Archaeological Sciences - 3 or 4    312      '
b'CK108  Arts International - 4 years                         440*     440'
b'CK109  English - 3 years or 4 years (International Pathwa   367      357'
b'CK110  World Languages                                      488      '
b'CK111  Early Years and Childhood Studies                    409      403'
b'CK112  Theatre and Performative Practices - 3 or 4 years    #371     '
b'CK113  Criminology - 3 years or 4 years (International Pa   464      463'
b'CK118  Digital Humanities and IT - 3 or 4 years (Work Exp   347      339'
b'CK120  Applied Psychology                                   544      543*'
b'CK121  Psychology and Computing - 3 or 4 years (Work Expe   499      488'
b'CK122  Government and Political Science                     399      '
b'CK123  Anthropology                                         308      '
b'CK124  Education - Gaeilge                                  473      '
b'CK125  Sports Studies and Physical Education                564      555*'
b'CK201  Commerce                                             500      499*'
b'CK202  Accounting                                           553      543*'
b'CK203  Business Information Systems                         455      452'
b'CK204  Finance                                              566*     566*'
b'CK205  Commerce (International) with French                 465      '
b'CK206  Commerce (International) with German                 466      455'
b'CK207  Commerce (International) with Italian                423      418'
b'CK208  Commerce (International) with Hispanic Studies       488      486'
b'CK209  Commerce (International) with Irish                  507      '
b'CK211  Commerce (International) with Chinese Studies        385      '
b'CK212  Economics (through Transformational Learning) 3 or   445      444'
b'CK213  Food Marketing and Entrepreneurship                  466      '
b'CK214  International Development                            332      '
b'CK301  Law (Pathways) -  3 or 4 years                       533      532*'
b'CK302  Law and French                                       545      '
b'CK304  Law and Irish                                        588      '
b'CK307  Law and Business                                     589*     589*'
b'CK401  Computer Science                                     503      495'
b'CK402  Biological and Chemical Sciences                     555*     555'
b'CK404  Biological  Earth and Environmental Sciences         500      495*'
b'CK405  Genetics                                             543      '
b'CK406  Chemical Sciences                                    532      '
b'CK407  Mathematical Sciences                                566      '
b'CK408  Physics and Astrophysics                             566      '
b'CK409  Industrial Physics - Offered jointly by UCC and CI   465      '
b'CK411  Data Science and Analytics                           531      '
b'CK412  Agricultural Science                                 506      '
b'CK504  Nutritional Sciences                                 555      554*'
b'CK505  Food Science                                         463      '
b'CK600  Engineering                                          510      509*'
b'CK606  Architecture - Offered jointly by UCC and CIT        543      '
b'CK701  Medicine (Undergraduate Entry - HPAT required)       #738     #737*'
b'CK702  Dentistry                                            625*     625*'
b'CK703  Pharmacy                                             613*     613*'
b'CK704  Occupational Therapy                                 601*     '
b'CK705  Speech and Language Therapy                          568      566*'
b'CK706  Public Health Sciences                               500      '
b'CK707  Medical and Health Sciences                          578*     '
b'CK710  General Nursing                                      498*     497*'
b'CK712  Children`s and General Nursing (Integrated)          565      '
b'CK720  Mental Health Nursing                                455      452'
b'CK730  Intellectual Disability Nursing                      431      '
b'CK740  Midwifery                                            509*     '
b'AC120  International Business                               294      294'
b'AC137  Liberal Arts                                         271      270'
b'CT125  Computing and IT                                     242      242'
b'CT325  Business                                             253      253'
b'CM001  Education - Primary Teaching                         508      '
b'CM002  Education - Primary Teaching - Gaeltacht Applicant   #462     '
b'CM003  Oideachas \x96 Bunmh\xfainteoireacht Tr\xed Mhe\xe1n na Gaeilg   #513     '
b'CM004  Oideachas - Bunmh\xfainteoireacht Tr\xed Mhe\xe1n na Gaeilg   #480     '
b'CM010  Education Studies                                    382      327'
b'CM020  Early Childhood Education                            317      '
b'DB500  Computing                                            234      234'
b'DB501  Computing (Cloud Computing)                                   178'
b'DB502  Computing (Data Analytics and Big Data)              267      233'
b'DB510  Audio Production and Music Project Management        217      217'
b'DB512  Business Studies                                     243      210'
b'DB514  Business Studies (Law)                               239      225'
b'DB515  Business Studies (Human Resource Management)         242      217'
b'DB517  Marketing (Event Management)                         233      225'
b'DB518  Marketing (Digital Media)                            307      209'
b'DB521  Accounting and Finance                               243      228'
b'DB524  Business (Information Systems)                       247      239'
b'DB525  Marketing (Digital Media and Cloud Computing)        288      288'
b'DB526  Business (Cloud Computing)                           244      244'
b'DB527  Applied Social Care                                  254      219'
b'DB531  Marketing                                            288      176'
b'DB562  Psychology                                           244      233'
b'DB566  Social Science                                       262      228'
b'DB567  Film and Creative Media                              245      213'
b'DB568  Law                                                  254      228'
b'DB569  Business (Psychology)                                240      240'
b'DC001  Education - Early Childhood Education                445      '
b'DC002  Education - Primary Teaching                         518*     '
b'DC003  Education - Primary Teaching - Gaeltacht Applicant   #489     '
b'DC004  Education - Primary Teaching (Church of Ireland Ce   #451     '
b'DC009  Arts (Joint Honours) - Humanities                    356      '
b'DC010  Post Primary Teacher Education - Religious Educati   384      '
b'DC011  Post Primary Teacher Education - Religious Educati   409      '
b'DC012  Post Primary Teacher Education - Religious Educati   409      '
b'DC013  Post Primary Teacher Ed - Gaeilge with French/Germ   413      '
b'DC014  BA in Jazz and Contemporary Music Performance (aud   #311     '
b'DC110  Business Studies International                       498      '
b'DC111  Business Studies                                     511      '
b'DC112  Global Business (France)                             542*     '
b'DC113  Global Business (Germany)                            484      '
b'DC114  Global Business (Spain)                              544      '
b'DC115  Accounting and Finance                               544      '
b'DC116  Global Business (USA)                                613*     '
b'DC117  Aviation Management / Aviation Management with Pil   484      '
b'DC118  Gn\xe1 agus Gaeilge / Business and Irish                368      '
b'DC119  Global Business (Canada)                             601      '
b'DC120  Computing for Business                               403      402'
b'DC121  Computer Science                                     475      '
b'DC123  Data Science                                         501      '
b'DC126  Actuarial Mathematics                                577*     '
b'DC127  Common Entry into Actuarial and Financial Mathemat   541      '
b'DC131  Communication Studies                                421      '
b'DC132  Journalism                                           452      '
b'DC133  Multimedia                                           435      '
b'DC155  Applied Language and Translation Studies             427      '
b'DC161  Analytical Science                                   498      '
b'DC162  Chemical and Pharmaceutical Sciences                 531*     '
b'DC163  Chemical Sciences General Entry (Undenominated Ent   466*     '
b'DC166  Environmental Science and Technology                 423*     '
b'DC168  Genetics and Cell Biology                            543*     '
b'DC175  Physics General Entry (options)                      400      '
b'DC180  Biological Sciences General Entry (Undenominated E   530      '
b'DC181  Biotechnology                                        530      '
b'DC190  Electronic and Computer Engineering (with choice o   488      '
b'DC193  Mechatronic Engineering                              490      '
b'DC194  Sustainable Systems and Energy                       476      '
b'DC195  Mechanical and Manufacturing Engineering             500      '
b'DC197  Biomedical Engineering                               510      '
b'DC200  Common Entry into Engineering (Undenominated Entry   511      510'
b'DC202  Sport Science and Health                             511      '
b'DC203  Science Education                                    462      '
b'DC204  Athletic Therapy and Training                        558      '
b'DC205  Physical Education with Biology                      565      '
b'DC206  Physical Education with Mathematics                  521      '
b'DC207  Psychology and Mathematics                           521      '
b'DC208  Psychology                                           565      '
b'DC209  Health and Society                                   477      '
b'DC210  Psychology and Disruptive Technologies               506      '
b'DC215  General Nursing                                      456*     '
b'DC216  Mental Health Nursing                                420      '
b'DC217  Intellectual Disability Nursing                      382      '
b'DC218  Children`s and General Nursing (Integrated)          521*     '
b'DC230  Economics  Politics and Law                          431      '
b'DC231  International Relations                              398      '
b'DC232  Law and Society (BCL)                                469      '
b'DC235  Education and Training - Daytime and Flexible Deli   302      '
b'DC238  Social Sciences and Cultural Innovation              387      '
b'DC240  Marketing  Innovation and Technology                 499      '
b'DC241  Digital Business and Innovation                      509      '
b'DC291  Arts (Joint Honours) - Media Studies                 350      '
b'DC292  Arts (Joint Honours) - Law                           400      '
b'DC293  Arts (Joint Honours) - International Languages       379      '
b'DC294  Climate and Environmental Sustainability             475      '
b'DC295  Arts (Joint Honours) - Politics                      349      '
b'DL822  Arts Management                                      254      '

In [16]:
df2021 = pd.read_csv(path2021csv, encoding='cp1252')

In [17]:
pd.options.display.max_rows = 20

df2021

,code,title,pointsR1,pointsR2
0,AL801,Software Design for Virtual Reality and Gaming,300,NaN
1,AL802,Software Design in Artificial Intelligence for...,313,NaN
2,AL803,Software Design for Mobile Apps and Connected ...,350,NaN
3,AL805,Computer Engineering for Network Infrastructure,321,NaN
4,AL810,Quantity Surveying,328,NaN
...,...,...,...,...
917,WD211,Creative Computing,270,NaN
918,WD212,Recreation and Sport Management,262,NaN
919,WD230,Mechanical and Manufacturing Engineering,230,230
920,WD231,Early Childhood Care and Education,266,NaN
921,WD232,Business Information Systems,261,261

In [18]:
#the filepath for the csv file- which is the output of the below script
path2021csvB = 'data/cao2021_csvB' + nowstr + '.csv'

In [19]:
#for the below if used in assessment should be cleaned up. Check regular expressions are working properly
# if want to save output of this then need a filepath and file format like the original data above

no_lines = 0
#open the csv file for writing
with open(path2021csvB, 'w') as f:
    # write a header row
    f.write(','.join(['code', 'title', 'pointsR1', 'pointsR2']) + '\n')
   # f.write(resp.text)   
    #loop through the lines of the response content
    for line in resp_2021.iter_lines():
        #decode the line using the encoding not flagged by the response from CAO
        dline = line.decode('cp1252')
        #match only the lines representing the requirements of the regular expression (i.e. line containing course)
        if re_course.fullmatch(dline):
            #add one to the line counter
            no_lines = no_lines + 1
            print(line)
            # to check the output- can be commented out as required

        # version 1 using regular expression
        # csv_version = re_course.sub(r'\1,\2,\3,\4', dline)
        #version 1 using re commented out
        #print(csv_version) no need to print so commented out
        #alternate way than regular expression is to use python in built split function
        # 'split' splits the line
        #(+ ) instructs to do this where two or more spaces- NB the spaces represented before the '+' below are v important
            linesplit = re.split('  +', dline)
            f.write(','.join(linesplit) + '\n') 
print(f"total number of lines is {no_lines}.")  
# long outputs are a pain in github as will render without the abiliity to scroll. 
# Therefore don't print it all out.   
# Can use scikit learn. Suggestion below

b'AL801  Software Design for Virtual Reality and Gaming       300      '
b'AL802  Software Design in Artificial Intelligence for Clo   313      '
b'AL803  Software Design for Mobile Apps and Connected Devi   350      '
b'AL805  Computer Engineering for Network Infrastructure      321      '
b'AL810  Quantity Surveying                                   328      '
b'AL820  Mechanical and Polymer Engineering                   327      '
b'AL830  General Nursing                                      451*     444'
b'AL832  Mental Health Nursing                                440*     431'
b'AL835  Pharmacology                                         356      '
b'AL836  Nutrition and Health Science                         346      '
b'AL837  Sports Science with Exercise Physiology              357      '
b'AL838  Biotechnology                                        324      '
b'AL839  Microbiology                                         325      '
b'AL840  Pharmaceutical Sciences                              346      '
b'AL841  Athletic and Rehabilitation Therapy                  477      476*'
b'AL842  Bioveterinary Science                                338      '
b'AL843  Physical Activity and Health Science                 306      '
b'AL849  Culinary Entrepreneurship                            297      '
b'AL850  Business                                             309      '
b'AL851  Business and Law                                     302      '
b'AL852  Accounting                                           336      '
b'AL854  Sport Management (with international placement)      300      299'
b'AL855  Hospitality Management (with international placeme   309      '
b'AL857  Digital Marketing                                    304      '
b'AL859  International Business                               308      '
b'AL860  Social Care Practice                                 301      '
b'AL861  Animation and Illustration (portfolio)               #575     '
b'AL863  Graphic and Digital Design (portfolio)               #747     '
b'AL864  Early Years Care and Education                       306      '
b'AL870  Applied Psychology                                   484*     467*'
b'CW018  Business (options)                                   307      '
b'CW028  Early Childhood Education and Care                   260      '
b'CW038  Art (portfolio)                                      #700     '
b'CW058  Tourism and Event Management                         292      '
b'CW068  Applied Social Studies in Professional Social Care   250      '
b'CW078  Sustainable Farm Management and Agribusiness         270      '
b'CW088  Visual Communications and Design                     270      '
b'CW108  Science (options)                                    266      '
b'CW128  Brewing and Distilling                               307      '
b'CW138  Sport and Exercise Science                           430      423'
b'CW148  Strength and Conditioning                            388      '
b'CW188  Sport Rehabilitation and Athletic Therapy            451      '
b'CW208  Computer Games Development                           272      '
b'CW238  Software Development                                 295      '
b'CW248  Information Technology Management                    293      '
b'CW258  Cybercrime and IT Security                           292      '
b'CW268  Computing in Interactive Digital Art and Design      291      '
b'CW438  Construction (options)                               260      251'
b'CW468  Architectural Technology                             291      283'
b'CW478  Civil Engineering                                    465      '
b'CW548  Mechanical Engineering                               330      328'
b'CW558  Electronic Systems                                   280      '
b'CW568  Aerospace Engineering                                371      359'
b'CW578  TV and Media Production                              318      '
b'CW708  Law - LLB                                            292      '
b'CW728  Product Design Innovation                            246      '
b'CW748  Early Childhood Education and Care                   290      '
b'CW758  Professional Social Care Practice                    360      358'
b'CW808  Media and Public Relations                           247      '
b'CW848  Digital Marketing with Analytics                     269      '
b'CW858  Sports Management and Coaching (options  portfolio   #700     '
b'CW908  Business (options)                                   272      '
b'CW938  Business with Law                                    270      '
b'CW948  Accounting                                           319      '
b'PC405  Social  Political and Community Studies              263      235'
b'PC410  Arts and Humanities (fulfils Teaching Council requ   262      230'
b'PC411  English and History (fulfils Teaching Council requ   243      224'
b'CR105  Chemical and Biopharmaceutical Engineering           443      '
b'CR106  Software Development                                 431      '
b'CR108  Mechanical Engineering                               434      '
b'CR109  Structural Engineering                               396      '
b'CR110  Automotive Business Management and Technology        336      '
b'CR112  Creative Digital Media at CIT Crawford College of    390      '
b'CR116  Computer Systems                                     365      '
b'CR121  Music at CIT Cork School of Music                    #904     #904'
b'CR125  Popular Music at CIT Cork School of Music            #1028    '
b'CR130  Musical Theatre at CIT Cork School of Music          #525     '
b'CR150  Business Information Systems                         350      '
b'CR210  Contemporary Applied Art (Ceramics  Glass  Textile   #450     '
b'CR220  Fine Art at CIT Crawford College of Art and Design   #400     '
b'CR225  Photography with New Media at CIT Crawford College   #435     '
b'CR305  Physical Sciences (Common Entry)                     260      '
b'CR310  IT Management                                        347      '
b'CR320  Biomedical Science - Offered jointly by CIT and UC   590*     '
b'CR325  Pharmaceutical Biotechnology                         466      '
b'CR333  Nutrition and Health Science                         425      '
b'CR335  Biological Sciences (Common Entry)                   473      '
b'CR340  Analytical Chemistry with Quality Assurance          327      '
b'CR360  Instrument Engineering                               301      '
b'CR365  Environmental Science and Sustainable Technology     262      '
b'CR370  Agri-Biosciences                                     368      '
b'CR400  Accounting                                           315      '
b'CR420  Marketing                                            290      '
b'CR425  International Business with Language                 279      '
b'CR430  Sport and Exercise Management                        402      '
b'CR435  Coaching Science and Sports Pedagogy                 410      '
b'CR440  Montessori Education                                 409      408'
b'CR500  Engineering (Common Entry)                           475      '
b'CR510  Sustainable Energy Engineering                       320      '
b'CR520  Biomedical Engineering                               444      '
b'CR560  Architectural Technology                             375      '
b'CR565  Interior Architecture                                431      '
b'CR570  Quantity Surveying                                   375      '
b'CR572  Construction Management                              300      '
b'CR580  Electrical Engineering                               342      '
b'CR590  Electronic Engineering                               329      '
b'CR600  Visual Communications at CIT Crawford College of A   #280     '
b'CR660  Tourism Management                                   246      '
b'CR700  Theatre and Drama Studies at CIT Cork School of Mu   #609     #609'
b'CR930  Home Economics and Business                          518*     '
b'CK101  Arts - 3 years                                       300      '
b'CK102  Social Science                                       434      431'
b'CK104  Arts with Music - 3 or 4 years (BMus or Chinese/Eu   #339     '
b'CK105  Film and Screen Media - 3 years or 4 years (Intern   421      420*'
b'CK107  Geographical and Archaeological Sciences - 3 or 4    312      '
b'CK108  Arts International - 4 years                         440*     440'
b'CK109  English - 3 years or 4 years (International Pathwa   367      357'
b'CK110  World Languages                                      488      '
b'CK111  Early Years and Childhood Studies                    409      403'
b'CK112  Theatre and Performative Practices - 3 or 4 years    #371     '
b'CK113  Criminology - 3 years or 4 years (International Pa   464      463'
b'CK118  Digital Humanities and IT - 3 or 4 years (Work Exp   347      339'
b'CK120  Applied Psychology                                   544      543*'
b'CK121  Psychology and Computing - 3 or 4 years (Work Expe   499      488'
b'CK122  Government and Political Science                     399      '
b'CK123  Anthropology                                         308      '
b'CK124  Education - Gaeilge                                  473      '
b'CK125  Sports Studies and Physical Education                564      555*'
b'CK201  Commerce                                             500      499*'
b'CK202  Accounting                                           553      543*'
b'CK203  Business Information Systems                         455      452'
b'CK204  Finance                                              566*     566*'
b'CK205  Commerce (International) with French                 465      '
b'CK206  Commerce (International) with German                 466      455'
b'CK207  Commerce (International) with Italian                423      418'
b'CK208  Commerce (International) with Hispanic Studies       488      486'
b'CK209  Commerce (International) with Irish                  507      '
b'CK211  Commerce (International) with Chinese Studies        385      '
b'CK212  Economics (through Transformational Learning) 3 or   445      444'
b'CK213  Food Marketing and Entrepreneurship                  466      '
b'CK214  International Development                            332      '
b'CK301  Law (Pathways) -  3 or 4 years                       533      532*'
b'CK302  Law and French                                       545      '
b'CK304  Law and Irish                                        588      '
b'CK307  Law and Business                                     589*     589*'
b'CK401  Computer Science                                     503      495'
b'CK402  Biological and Chemical Sciences                     555*     555'
b'CK404  Biological  Earth and Environmental Sciences         500      495*'
b'CK405  Genetics                                             543      '
b'CK406  Chemical Sciences                                    532      '
b'CK407  Mathematical Sciences                                566      '
b'CK408  Physics and Astrophysics                             566      '
b'CK409  Industrial Physics - Offered jointly by UCC and CI   465      '
b'CK411  Data Science and Analytics                           531      '
b'CK412  Agricultural Science                                 506      '
b'CK504  Nutritional Sciences                                 555      554*'
b'CK505  Food Science                                         463      '
b'CK600  Engineering                                          510      509*'
b'CK606  Architecture - Offered jointly by UCC and CIT        543      '
b'CK701  Medicine (Undergraduate Entry - HPAT required)       #738     #737*'
b'CK702  Dentistry                                            625*     625*'
b'CK703  Pharmacy                                             613*     613*'
b'CK704  Occupational Therapy                                 601*     '
b'CK705  Speech and Language Therapy                          568      566*'
b'CK706  Public Health Sciences                               500      '
b'CK707  Medical and Health Sciences                          578*     '
b'CK710  General Nursing                                      498*     497*'
b'CK712  Children`s and General Nursing (Integrated)          565      '
b'CK720  Mental Health Nursing                                455      452'
b'CK730  Intellectual Disability Nursing                      431      '
b'CK740  Midwifery                                            509*     '
b'AC120  International Business                               294      294'
b'AC137  Liberal Arts                                         271      270'
b'CT125  Computing and IT                                     242      242'
b'CT325  Business                                             253      253'
b'CM001  Education - Primary Teaching                         508      '
b'CM002  Education - Primary Teaching - Gaeltacht Applicant   #462     '
b'CM003  Oideachas \x96 Bunmh\xfainteoireacht Tr\xed Mhe\xe1n na Gaeilg   #513     '
b'CM004  Oideachas - Bunmh\xfainteoireacht Tr\xed Mhe\xe1n na Gaeilg   #480     '
b'CM010  Education Studies                                    382      327'
b'CM020  Early Childhood Education                            317      '
b'DB500  Computing                                            234      234'
b'DB501  Computing (Cloud Computing)                                   178'
b'DB502  Computing (Data Analytics and Big Data)              267      233'
b'DB510  Audio Production and Music Project Management        217      217'
b'DB512  Business Studies                                     243      210'
b'DB514  Business Studies (Law)                               239      225'
b'DB515  Business Studies (Human Resource Management)         242      217'
b'DB517  Marketing (Event Management)                         233      225'
b'DB518  Marketing (Digital Media)                            307      209'
b'DB521  Accounting and Finance                               243      228'
b'DB524  Business (Information Systems)                       247      239'
b'DB525  Marketing (Digital Media and Cloud Computing)        288      288'
b'DB526  Business (Cloud Computing)                           244      244'
b'DB527  Applied Social Care                                  254      219'
b'DB531  Marketing                                            288      176'
b'DB562  Psychology                                           244      233'
b'DB566  Social Science                                       262      228'
b'DB567  Film and Creative Media                              245      213'
b'DB568  Law                                                  254      228'
b'DB569  Business (Psychology)                                240      240'
b'DC001  Education - Early Childhood Education                445      '
b'DC002  Education - Primary Teaching                         518*     '
b'DC003  Education - Primary Teaching - Gaeltacht Applicant   #489     '
b'DC004  Education - Primary Teaching (Church of Ireland Ce   #451     '
b'DC009  Arts (Joint Honours) - Humanities                    356      '
b'DC010  Post Primary Teacher Education - Religious Educati   384      '
b'DC011  Post Primary Teacher Education - Religious Educati   409      '
b'DC012  Post Primary Teacher Education - Religious Educati   409      '
b'DC013  Post Primary Teacher Ed - Gaeilge with French/Germ   413      '
b'DC014  BA in Jazz and Contemporary Music Performance (aud   #311     '
b'DC110  Business Studies International                       498      '
b'DC111  Business Studies                                     511      '
b'DC112  Global Business (France)                             542*     '
b'DC113  Global Business (Germany)                            484      '
b'DC114  Global Business (Spain)                              544      '
b'DC115  Accounting and Finance                               544      '
b'DC116  Global Business (USA)                                613*     '
b'DC117  Aviation Management / Aviation Management with Pil   484      '
b'DC118  Gn\xe1 agus Gaeilge / Business and Irish                368      '
b'DC119  Global Business (Canada)                             601      '
b'DC120  Computing for Business                               403      402'
b'DC121  Computer Science                                     475      '
b'DC123  Data Science                                         501      '
b'DC126  Actuarial Mathematics                                577*     '
b'DC127  Common Entry into Actuarial and Financial Mathemat   541      '
b'DC131  Communication Studies                                421      '
b'DC132  Journalism                                           452      '
b'DC133  Multimedia                                           435      '
b'DC155  Applied Language and Translation Studies             427      '
b'DC161  Analytical Science                                   498      '
b'DC162  Chemical and Pharmaceutical Sciences                 531*     '
b'DC163  Chemical Sciences General Entry (Undenominated Ent   466*     '
b'DC166  Environmental Science and Technology                 423*     '
b'DC168  Genetics and Cell Biology                            543*     '
b'DC175  Physics General Entry (options)                      400      '
b'DC180  Biological Sciences General Entry (Undenominated E   530      '
b'DC181  Biotechnology                                        530      '
b'DC190  Electronic and Computer Engineering (with choice o   488      '
b'DC193  Mechatronic Engineering                              490      '
b'DC194  Sustainable Systems and Energy                       476      '
b'DC195  Mechanical and Manufacturing Engineering             500      '
b'DC197  Biomedical Engineering                               510      '
b'DC200  Common Entry into Engineering (Undenominated Entry   511      510'
b'DC202  Sport Science and Health                             511      '
b'DC203  Science Education                                    462      '
b'DC204  Athletic Therapy and Training                        558      '
b'DC205  Physical Education with Biology                      565      '
b'DC206  Physical Education with Mathematics                  521      '
b'DC207  Psychology and Mathematics                           521      '
b'DC208  Psychology                                           565      '
b'DC209  Health and Society                                   477      '
b'DC210  Psychology and Disruptive Technologies               506      '
b'DC215  General Nursing                                      456*     '
b'DC216  Mental Health Nursing                                420      '
b'DC217  Intellectual Disability Nursing                      382      '
b'DC218  Children`s and General Nursing (Integrated)          521*     '
b'DC230  Economics  Politics and Law                          431      '
b'DC231  International Relations                              398      '
b'DC232  Law and Society (BCL)                                469      '
b'DC235  Education and Training - Daytime and Flexible Deli   302      '
b'DC238  Social Sciences and Cultural Innovation              387      '
b'DC240  Marketing  Innovation and Technology                 499      '
b'DC241  Digital Business and Innovation                      509      '
b'DC291  Arts (Joint Honours) - Media Studies                 350      '
b'DC292  Arts (Joint Honours) - Law                           400      '
b'DC293  Arts (Joint Honours) - International Languages       379      '
b'DC294  Climate and Environmental Sustainability             475      '
b'DC295  Arts (Joint Honours) - Politics                      349      '
b'DL822  Arts Management                                      254      '

In [20]:
#df2021B = pd.read_csv(path2021csvB, encoding='cp1252')

In [21]:
#df2021B

#### regular expression syntax
https://www.w3schools.com/python/python_regex.asp

https://docs.python.org/3/library/re.html

#### how to use split function
https://pynative.com/python-regex-split/#h-how-to-use-re-split-function

syntax: re.split(pattern, string, maxsplit=0, flags=0)

In [22]:
# linspace:

#The numpy.linspace() function returns number spaces evenly w.r.t interval. Similar to numpy.arrange() function but instead of step it uses sample number. 
# Syntax : numpy.linspace(start,stop,num = 50,endpoint = True,retstep = False,dtype = None)
#e.g.:
# import numpy as np
# print("B\n", np.linspace(2.0, 3.0, num=5, retstep=True), "\n")
# To evaluate sin() in long range
# x = np.linspace(0, 2, 10)
# print("A\n", np.sin(x))
# https://www.geeksforgeeks.org/numpy-linspace-python/


# print out every 'th value in an array:
# e.g. for a super long list i.e. here 10000 print only evertyime i is a multiple of 1000
# i = 0 (not needed)
# for i in x  (not needed)

import numpy as np
x = np.linspace(-20.0, 10.0,10000)
for i in range (len(x)):
    if (i % 1000) == 0:
            print (f"{x[i]:.1}")
# this will avoid the length cell especially in github notebook renderer and nbv viewer

-2e+01
-2e+01
-1e+01
-1e+01
-8e+00
-5e+00
-2e+00
1e+00
4e+00
7e+00

<br>

#### helper function

In [23]:
# takes in s (str) - checks is 1st character #? 
#if yes then stores in portfolio a
# otherwise it stores an empty string
def points_to_array(s):
    portfolio = ''
    if s[0] == '#':
        portfolio = '#'
        random = ''
        #checks the last character  if its an asterisk then it stores 
        if s[-1] == '*':
            random = '*'
            # loops through each characters in string for i in s
            # + is string concatenation 
            # + is not addition
        points = ''
        for i in s:
            if i.isdigit():
                points = points + 1
                return [points, portfolio, random]
            
# 'would recommend changing course _points[0], course_points[1]] into arrays with three things in them
#hash character , empty string, points ,random has-
# maybe don't need if read in pandas'

#### Extra lines in html- how to reconcile the # lines of html vs the csv
- i.e. total number of lines output in jupyter code
- open VSC
- delete all the lines that don't want
- delete preamble & sections within colleges

####  find \n\n and replace with \n
in RE turned on : ^ looks for start of line $ looks for end of line <br>
cant find and replace with these but can find S&F of lines

#### alternate way to sort
- different to RE but similar result
- more manual

In [24]:
#the filepath for the alternate csv file- which is the output of the below script that uses a more 1st principles approach
#path2021csv2 = 'data/cao2021_csv(2)' + now.strftime('%Y%m%d_%H%M%S')  + '.csv'
path2021csv2 = 'data/cao2021_csv(2)' + nowstr + '.csv'

In [25]:
# older version of code

no_lines = 0
#open the csv file for writing
with open(path2021csv2, 'w') as f:
    # write a header row
    f.write(','.join(['code', 'title', 'pointsR1', 'pointsR2']) + '\n')
    #debug:
            ##print(len(linesplit), linesplit ,dline)
            #this will show you how the RE is splitting 
            #i.e. expect '4' for len(length) of linesplit, then in square brackets how it splits 'xxx', then outside square brackets the string- 'dline'
            
            #print out just the course code # :5b means simply print out the characters up to position 5 (0-4 in python)
            #course_code = dline[:5]
            #print (course_code)
            
            #print out just the course title- starts at 7n in..trial and error re run until get longest course title
            #course_title = dline[7:57]
            #print (course_title)     
            
            #round one points - prints out both round 1 and round 2  Note: can't separate 'round' and '1'
            #course_round1 = dline[60:]
            #print (course_round1)
            
            #can edit the RE and re-run these to debug further
            
            #further debugging
            #split on the space. Has a look for one ore more space and splits it
            #course_points = re.split('  +' , dline[60:])
            #print(f"'{course_code} {course_points}'")
            
            #last line is returning anything but two substrings back- create an exception
           # if len(course_points) != 2:
                #course_points = course_points[:2]
               # join the fields usign a comma
               # linesplit = [course_code,course_title, course _points[0], course_points[1]]
                
            #print(','.join(linesplit))
            #f.write(csv_version + '\n') - saving of old RE way
            #rejoin the substrings with commas in-between
            #f.write(','.join(linesplit) + '\n')
            
            #result - output is a csv file!
    for line in resp_2021.iter_lines():
        dline = line.decode('cp1252')
        if re_course.fullmatch(dline):
            no_lines = no_lines + 1
            course_code = dline[:5]
            course_title = dline[7:57].strip()
            course_points = re.split('  +' , dline[60:])
            if len(course_points) != 2:
                course_points = course_points[:2]
            linesplit = [course_code,course_title, course_points[0], course_points[1]]
            f.write(','.join(linesplit) + '\n') 
            print(line) # to check the output- can be commented out as required
print(f"total number of lines is {no_lines}.")

# output path2021 is a csv file
#note pandas coud convert html to csv but better to use own code and save as csv- use pandas thereafter

b'AL801  Software Design for Virtual Reality and Gaming       300      '
b'AL802  Software Design in Artificial Intelligence for Clo   313      '
b'AL803  Software Design for Mobile Apps and Connected Devi   350      '
b'AL805  Computer Engineering for Network Infrastructure      321      '
b'AL810  Quantity Surveying                                   328      '
b'AL820  Mechanical and Polymer Engineering                   327      '
b'AL830  General Nursing                                      451*     444'
b'AL832  Mental Health Nursing                                440*     431'
b'AL835  Pharmacology                                         356      '
b'AL836  Nutrition and Health Science                         346      '
b'AL837  Sports Science with Exercise Physiology              357      '
b'AL838  Biotechnology                                        324      '
b'AL839  Microbiology                                         325      '
b'AL840  Pharmaceutical Sciences                              346      '
b'AL841  Athletic and Rehabilitation Therapy                  477      476*'
b'AL842  Bioveterinary Science                                338      '
b'AL843  Physical Activity and Health Science                 306      '
b'AL849  Culinary Entrepreneurship                            297      '
b'AL850  Business                                             309      '
b'AL851  Business and Law                                     302      '
b'AL852  Accounting                                           336      '
b'AL854  Sport Management (with international placement)      300      299'
b'AL855  Hospitality Management (with international placeme   309      '
b'AL857  Digital Marketing                                    304      '
b'AL859  International Business                               308      '
b'AL860  Social Care Practice                                 301      '
b'AL861  Animation and Illustration (portfolio)               #575     '
b'AL863  Graphic and Digital Design (portfolio)               #747     '
b'AL864  Early Years Care and Education                       306      '
b'AL870  Applied Psychology                                   484*     467*'
b'CW018  Business (options)                                   307      '
b'CW028  Early Childhood Education and Care                   260      '
b'CW038  Art (portfolio)                                      #700     '
b'CW058  Tourism and Event Management                         292      '
b'CW068  Applied Social Studies in Professional Social Care   250      '
b'CW078  Sustainable Farm Management and Agribusiness         270      '
b'CW088  Visual Communications and Design                     270      '
b'CW108  Science (options)                                    266      '
b'CW128  Brewing and Distilling                               307      '
b'CW138  Sport and Exercise Science                           430      423'
b'CW148  Strength and Conditioning                            388      '
b'CW188  Sport Rehabilitation and Athletic Therapy            451      '
b'CW208  Computer Games Development                           272      '
b'CW238  Software Development                                 295      '
b'CW248  Information Technology Management                    293      '
b'CW258  Cybercrime and IT Security                           292      '
b'CW268  Computing in Interactive Digital Art and Design      291      '
b'CW438  Construction (options)                               260      251'
b'CW468  Architectural Technology                             291      283'
b'CW478  Civil Engineering                                    465      '
b'CW548  Mechanical Engineering                               330      328'
b'CW558  Electronic Systems                                   280      '
b'CW568  Aerospace Engineering                                371      359'
b'CW578  TV and Media Production                              318      '
b'CW708  Law - LLB                                            292      '
b'CW728  Product Design Innovation                            246      '
b'CW748  Early Childhood Education and Care                   290      '
b'CW758  Professional Social Care Practice                    360      358'
b'CW808  Media and Public Relations                           247      '
b'CW848  Digital Marketing with Analytics                     269      '
b'CW858  Sports Management and Coaching (options  portfolio   #700     '
b'CW908  Business (options)                                   272      '
b'CW938  Business with Law                                    270      '
b'CW948  Accounting                                           319      '
b'PC405  Social  Political and Community Studies              263      235'
b'PC410  Arts and Humanities (fulfils Teaching Council requ   262      230'
b'PC411  English and History (fulfils Teaching Council requ   243      224'
b'CR105  Chemical and Biopharmaceutical Engineering           443      '
b'CR106  Software Development                                 431      '
b'CR108  Mechanical Engineering                               434      '
b'CR109  Structural Engineering                               396      '
b'CR110  Automotive Business Management and Technology        336      '
b'CR112  Creative Digital Media at CIT Crawford College of    390      '
b'CR116  Computer Systems                                     365      '
b'CR121  Music at CIT Cork School of Music                    #904     #904'
b'CR125  Popular Music at CIT Cork School of Music            #1028    '
b'CR130  Musical Theatre at CIT Cork School of Music          #525     '
b'CR150  Business Information Systems                         350      '
b'CR210  Contemporary Applied Art (Ceramics  Glass  Textile   #450     '
b'CR220  Fine Art at CIT Crawford College of Art and Design   #400     '
b'CR225  Photography with New Media at CIT Crawford College   #435     '
b'CR305  Physical Sciences (Common Entry)                     260      '
b'CR310  IT Management                                        347      '
b'CR320  Biomedical Science - Offered jointly by CIT and UC   590*     '
b'CR325  Pharmaceutical Biotechnology                         466      '
b'CR333  Nutrition and Health Science                         425      '
b'CR335  Biological Sciences (Common Entry)                   473      '
b'CR340  Analytical Chemistry with Quality Assurance          327      '
b'CR360  Instrument Engineering                               301      '
b'CR365  Environmental Science and Sustainable Technology     262      '
b'CR370  Agri-Biosciences                                     368      '
b'CR400  Accounting                                           315      '
b'CR420  Marketing                                            290      '
b'CR425  International Business with Language                 279      '
b'CR430  Sport and Exercise Management                        402      '
b'CR435  Coaching Science and Sports Pedagogy                 410      '
b'CR440  Montessori Education                                 409      408'
b'CR500  Engineering (Common Entry)                           475      '
b'CR510  Sustainable Energy Engineering                       320      '
b'CR520  Biomedical Engineering                               444      '
b'CR560  Architectural Technology                             375      '
b'CR565  Interior Architecture                                431      '
b'CR570  Quantity Surveying                                   375      '
b'CR572  Construction Management                              300      '
b'CR580  Electrical Engineering                               342      '
b'CR590  Electronic Engineering                               329      '
b'CR600  Visual Communications at CIT Crawford College of A   #280     '
b'CR660  Tourism Management                                   246      '
b'CR700  Theatre and Drama Studies at CIT Cork School of Mu   #609     #609'
b'CR930  Home Economics and Business                          518*     '
b'CK101  Arts - 3 years                                       300      '
b'CK102  Social Science                                       434      431'
b'CK104  Arts with Music - 3 or 4 years (BMus or Chinese/Eu   #339     '
b'CK105  Film and Screen Media - 3 years or 4 years (Intern   421      420*'
b'CK107  Geographical and Archaeological Sciences - 3 or 4    312      '
b'CK108  Arts International - 4 years                         440*     440'
b'CK109  English - 3 years or 4 years (International Pathwa   367      357'
b'CK110  World Languages                                      488      '
b'CK111  Early Years and Childhood Studies                    409      403'
b'CK112  Theatre and Performative Practices - 3 or 4 years    #371     '
b'CK113  Criminology - 3 years or 4 years (International Pa   464      463'
b'CK118  Digital Humanities and IT - 3 or 4 years (Work Exp   347      339'
b'CK120  Applied Psychology                                   544      543*'
b'CK121  Psychology and Computing - 3 or 4 years (Work Expe   499      488'
b'CK122  Government and Political Science                     399      '
b'CK123  Anthropology                                         308      '
b'CK124  Education - Gaeilge                                  473      '
b'CK125  Sports Studies and Physical Education                564      555*'
b'CK201  Commerce                                             500      499*'
b'CK202  Accounting                                           553      543*'
b'CK203  Business Information Systems                         455      452'
b'CK204  Finance                                              566*     566*'
b'CK205  Commerce (International) with French                 465      '
b'CK206  Commerce (International) with German                 466      455'
b'CK207  Commerce (International) with Italian                423      418'
b'CK208  Commerce (International) with Hispanic Studies       488      486'
b'CK209  Commerce (International) with Irish                  507      '
b'CK211  Commerce (International) with Chinese Studies        385      '
b'CK212  Economics (through Transformational Learning) 3 or   445      444'
b'CK213  Food Marketing and Entrepreneurship                  466      '
b'CK214  International Development                            332      '
b'CK301  Law (Pathways) -  3 or 4 years                       533      532*'
b'CK302  Law and French                                       545      '
b'CK304  Law and Irish                                        588      '
b'CK307  Law and Business                                     589*     589*'
b'CK401  Computer Science                                     503      495'
b'CK402  Biological and Chemical Sciences                     555*     555'
b'CK404  Biological  Earth and Environmental Sciences         500      495*'
b'CK405  Genetics                                             543      '
b'CK406  Chemical Sciences                                    532      '
b'CK407  Mathematical Sciences                                566      '
b'CK408  Physics and Astrophysics                             566      '
b'CK409  Industrial Physics - Offered jointly by UCC and CI   465      '
b'CK411  Data Science and Analytics                           531      '
b'CK412  Agricultural Science                                 506      '
b'CK504  Nutritional Sciences                                 555      554*'
b'CK505  Food Science                                         463      '
b'CK600  Engineering                                          510      509*'
b'CK606  Architecture - Offered jointly by UCC and CIT        543      '
b'CK701  Medicine (Undergraduate Entry - HPAT required)       #738     #737*'
b'CK702  Dentistry                                            625*     625*'
b'CK703  Pharmacy                                             613*     613*'
b'CK704  Occupational Therapy                                 601*     '
b'CK705  Speech and Language Therapy                          568      566*'
b'CK706  Public Health Sciences                               500      '
b'CK707  Medical and Health Sciences                          578*     '
b'CK710  General Nursing                                      498*     497*'
b'CK712  Children`s and General Nursing (Integrated)          565      '
b'CK720  Mental Health Nursing                                455      452'
b'CK730  Intellectual Disability Nursing                      431      '
b'CK740  Midwifery                                            509*     '
b'AC120  International Business                               294      294'
b'AC137  Liberal Arts                                         271      270'
b'CT125  Computing and IT                                     242      242'
b'CT325  Business                                             253      253'
b'CM001  Education - Primary Teaching                         508      '
b'CM002  Education - Primary Teaching - Gaeltacht Applicant   #462     '
b'CM003  Oideachas \x96 Bunmh\xfainteoireacht Tr\xed Mhe\xe1n na Gaeilg   #513     '
b'CM004  Oideachas - Bunmh\xfainteoireacht Tr\xed Mhe\xe1n na Gaeilg   #480     '
b'CM010  Education Studies                                    382      327'
b'CM020  Early Childhood Education                            317      '
b'DB500  Computing                                            234      234'
b'DB501  Computing (Cloud Computing)                                   178'
b'DB502  Computing (Data Analytics and Big Data)              267      233'
b'DB510  Audio Production and Music Project Management        217      217'
b'DB512  Business Studies                                     243      210'
b'DB514  Business Studies (Law)                               239      225'
b'DB515  Business Studies (Human Resource Management)         242      217'
b'DB517  Marketing (Event Management)                         233      225'
b'DB518  Marketing (Digital Media)                            307      209'
b'DB521  Accounting and Finance                               243      228'
b'DB524  Business (Information Systems)                       247      239'
b'DB525  Marketing (Digital Media and Cloud Computing)        288      288'
b'DB526  Business (Cloud Computing)                           244      244'
b'DB527  Applied Social Care                                  254      219'
b'DB531  Marketing                                            288      176'
b'DB562  Psychology                                           244      233'
b'DB566  Social Science                                       262      228'
b'DB567  Film and Creative Media                              245      213'
b'DB568  Law                                                  254      228'
b'DB569  Business (Psychology)                                240      240'
b'DC001  Education - Early Childhood Education                445      '
b'DC002  Education - Primary Teaching                         518*     '
b'DC003  Education - Primary Teaching - Gaeltacht Applicant   #489     '
b'DC004  Education - Primary Teaching (Church of Ireland Ce   #451     '
b'DC009  Arts (Joint Honours) - Humanities                    356      '
b'DC010  Post Primary Teacher Education - Religious Educati   384      '
b'DC011  Post Primary Teacher Education - Religious Educati   409      '
b'DC012  Post Primary Teacher Education - Religious Educati   409      '
b'DC013  Post Primary Teacher Ed - Gaeilge with French/Germ   413      '
b'DC014  BA in Jazz and Contemporary Music Performance (aud   #311     '
b'DC110  Business Studies International                       498      '
b'DC111  Business Studies                                     511      '
b'DC112  Global Business (France)                             542*     '
b'DC113  Global Business (Germany)                            484      '
b'DC114  Global Business (Spain)                              544      '
b'DC115  Accounting and Finance                               544      '
b'DC116  Global Business (USA)                                613*     '
b'DC117  Aviation Management / Aviation Management with Pil   484      '
b'DC118  Gn\xe1 agus Gaeilge / Business and Irish                368      '
b'DC119  Global Business (Canada)                             601      '
b'DC120  Computing for Business                               403      402'
b'DC121  Computer Science                                     475      '
b'DC123  Data Science                                         501      '
b'DC126  Actuarial Mathematics                                577*     '
b'DC127  Common Entry into Actuarial and Financial Mathemat   541      '
b'DC131  Communication Studies                                421      '
b'DC132  Journalism                                           452      '
b'DC133  Multimedia                                           435      '
b'DC155  Applied Language and Translation Studies             427      '
b'DC161  Analytical Science                                   498      '
b'DC162  Chemical and Pharmaceutical Sciences                 531*     '
b'DC163  Chemical Sciences General Entry (Undenominated Ent   466*     '
b'DC166  Environmental Science and Technology                 423*     '
b'DC168  Genetics and Cell Biology                            543*     '
b'DC175  Physics General Entry (options)                      400      '
b'DC180  Biological Sciences General Entry (Undenominated E   530      '
b'DC181  Biotechnology                                        530      '
b'DC190  Electronic and Computer Engineering (with choice o   488      '
b'DC193  Mechatronic Engineering                              490      '
b'DC194  Sustainable Systems and Energy                       476      '
b'DC195  Mechanical and Manufacturing Engineering             500      '
b'DC197  Biomedical Engineering                               510      '
b'DC200  Common Entry into Engineering (Undenominated Entry   511      510'
b'DC202  Sport Science and Health                             511      '
b'DC203  Science Education                                    462      '
b'DC204  Athletic Therapy and Training                        558      '
b'DC205  Physical Education with Biology                      565      '
b'DC206  Physical Education with Mathematics                  521      '
b'DC207  Psychology and Mathematics                           521      '
b'DC208  Psychology                                           565      '
b'DC209  Health and Society                                   477      '
b'DC210  Psychology and Disruptive Technologies               506      '
b'DC215  General Nursing                                      456*     '
b'DC216  Mental Health Nursing                                420      '
b'DC217  Intellectual Disability Nursing                      382      '
b'DC218  Children`s and General Nursing (Integrated)          521*     '
b'DC230  Economics  Politics and Law                          431      '
b'DC231  International Relations                              398      '
b'DC232  Law and Society (BCL)                                469      '
b'DC235  Education and Training - Daytime and Flexible Deli   302      '
b'DC238  Social Sciences and Cultural Innovation              387      '
b'DC240  Marketing  Innovation and Technology                 499      '
b'DC241  Digital Business and Innovation                      509      '
b'DC291  Arts (Joint Honours) - Media Studies                 350      '
b'DC292  Arts (Joint Honours) - Law                           400      '
b'DC293  Arts (Joint Honours) - International Languages       379      '
b'DC294  Climate and Environmental Sustainability             475      '
b'DC295  Arts (Joint Honours) - Politics                      349      '
b'DL822  Arts Management                                      254      '

stripstrings = ' abc     ' <br>
**s.strip()** strips the white space** <br>

<br>

**NB** it was verfied as pof  xx yy zz that there were  949 courses exactly in the CAO 2021 points list

In [26]:
#old code
#how to loop throught the linesv in request. iterate through the lines in request using a regular expression
#for line in resp.iter_lines():
   # if re.match('[A-Z]{2}[0-9]{3}  .* *(0-9){3} *', line.decode('utf-8') ):
               # print(line)

In [27]:
df2021B = pd.read_csv(path2021csv2, encoding='cp1252')

In [28]:
df2021B

,code,title,pointsR1,pointsR2
0,AL801,Software Design for Virtual Reality and Gaming,300,NaN
1,AL802,Software Design in Artificial Intelligence for...,313,NaN
2,AL803,Software Design for Mobile Apps and Connected ...,350,NaN
3,AL805,Computer Engineering for Network Infrastructure,321,NaN
4,AL810,Quantity Surveying,328,NaN
...,...,...,...,...
917,WD211,Creative Computing,270,NaN
918,WD212,Recreation and Sport Management,262,NaN
919,WD230,Mechanical and Manufacturing Engineering,230,230
920,WD231,Early Childhood Care and Education,266,NaN
921,WD232,Business Information Systems,261,261

<br>

# 2020 points

http://www.cao.ie/index.php?page=points&p=2020

***

### download and parse the excel spreadsheet using pandas

In [29]:
#create a variable for the url to keep it neat
url2020 = 'http://www2.cao.ie/points/CAOPointsCharts2020.xlsx'

In [30]:
#download and parse the excel spreadsheet
#skip the 1st 10 preamble rows
df2020 = pd.read_excel (url2020, skiprows = 10)
# however it reads the 1st 10 preamble headings 
# could save file and manually delete 1st 10 rows but better to use pandas functionality

In [31]:
pd.options.display.max_rows = 20
df2020

,CATEGORY (i.e.ISCED description),COURSE TITLE,COURSE CODE2,R1 POINTS,R1 Random *,R2 POINTS,R2 Random*,EOS,EOS Random *,EOS Mid-point,...,avp,v,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8
0,Business and administration,International Business,AC120,209,NaN,NaN,NaN,209,NaN,280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Humanities (except languages),Liberal Arts,AC137,252,NaN,NaN,NaN,252,NaN,270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arts,"First Year Art & Design (Common Entry,portfolio)",AD101,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arts,Graphic Design and Moving Image Design (portfo...,AD102,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arts,Textile & Surface Design and Jewellery & Objec...,AD103,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,Manufacturing and processing,Manufacturing Engineering,WD208,188,NaN,NaN,NaN,188,NaN,339,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1460,Information and Communication Technologies (ICTs),Software Systems Development,WD210,279,NaN,NaN,NaN,279,NaN,337,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1461,Information and Communication Technologies (ICTs),Creative Computing,WD211,271,NaN,NaN,NaN,271,NaN,318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1462,Personal services,Recreation and Sport Management,WD212,270,NaN,NaN,NaN,270,NaN,349,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1463,Engineering and engineering trades,Mechanical and Manufacturing Engineering,WD230,253,NaN,NaN,NaN,253,NaN,369,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
#spot check of data (row)
# use loc or iloc functionality to check data
df2020.iloc[12:15]
#check the final line in the spreadsheet
# reminder 1st 11 rows are heading #excel identifies 1st row as zero
#df2020.iloc[753]
# can also count backwards to last row
#df2020.iloc[-1]

,CATEGORY (i.e.ISCED description),COURSE TITLE,COURSE CODE2,R1 POINTS,R1 Random *,R2 POINTS,R2 Random*,EOS,EOS Random *,EOS Mid-point,...,avp,v,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8
12,Information and Communication Technologies (ICTs),Software Design,AL600,AQA,NaN,NaN,NaN,104,NaN,279,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Engineering and engineering trades,Computer Engineering,AL601,AQA,NaN,219,NaN,112,NaN,192,...,avp,v,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Engineering and engineering trades,Mechanical Engineering,AL602,AQA,NaN,NaN,NaN,260,NaN,424,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<br>

### save original file 

***

In [33]:
# Create a file path for the pandas data.
pathxlsx = 'data/cao2020_' + nowstr + '.xlsx'

# retrieve the original excel data from CAO website and save to new xlsx file (time stamped)
urlrq.urlretrieve (url2020, pathxlsx)

#pathxlsx = 'data/cao2020_' + now.strftime('%Y%m%d_%H%M%S')  + '.xlsx'
#now.strftime('%Y%m%d_%H%M%S')
#save the original html file
#with open(pathxlsx, 'w') as f:
   # f.write(resp.text)

('data/cao2020_20211214_212553.xlsx',
 <http.client.HTTPMessage at 0x25e0bff66a0>)

<br>

#### create a filepath for pandas data
***

In [34]:
#save the output to a csv file
#path2020 = 'data/cao2020_' + now.strftime('%Y%m%d_%H%M%S')  + '.csv'
path2020 = 'data/cao2020_' + nowstr + '.csv'

In [35]:
# Save pandas data frame to disk.
df2020.to_csv(path2020)

<br>

https://pandas.pydata.org/docs/reference/api/pandas.read_excel.htmlpandas.read_excel <br> function signature in pandas excel webpage: (io, sheet_name=0, header=0, names=None, index_col=None, usecols=None, squeeze=False, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, parse_dates=False, date_parser=None, thousands=None, comment=None, skipfooter=0, convert_float=None, mangle_dupe_cols=True, storage_options=None)
skiprows is what we need

## fetch earlier year points data and save in data files

<br>

## 2019 points
-as pdf option here is to read do it manually before getting pandas to read it as a csv

http://www.cao.ie/index.php?page=points&p=2019

***

-Note the 2019 and earlier points are in pdf format<br>
ADMISSION DATA 2019 <br>
2019 Level 8 EOS:End of Season Level 8 <br>Main points index url: <br><br>
https://www.cao.ie/index.php?page=points
direct link tp pointsd tablr (pdf) <br>
http://www2.cao.ie/points/lvl8_19.pdf

<br>

### steps to reproduce the 2019 editable:
****

Python libraries to check out to 'scrape pdf's':

Tabula,Camelot,Excalibur

In [36]:
# fetch the CAO points URL.  The url for earlier years takes you to a pdf version
# However the python code to fetch appears to work
resp_2019 = rq.get ('http://www2.cao.ie/points/lvl8_19.pdf')
#have a quick peek
resp_2019
# resp [200] means html response is in order.  [404] if returns means it is not found .  These are http codes

Manual way of extracting:
1. save pdf in repository
2. open original with MS Word (may need to 'choose other app to open' in dropdown
3. MS Word converts pdf to Word
4. Save file as xxxxx.docx format
5. Resave a copy to edit in repo as xxxxx_edited.docx
6. Delete headers and footers
7. delete preamble on page 1
8. Ctrl 'A', Ctrl 'C' to copy all data in the 21 separate tables
9. Open notepad++ and paste 'Ctrl V'


### Steps to reproduce \textcolor{red}{red} <br>
<span style="color:blue">NB: for the video I truncated the CSV file to save time. <br></span>

<mark>After the video, I went back and changed some of the following to make it cleaner.<mark>
- Download original pdf file.
- Open original pdf file in Microsoft Word.
- Save Microsoft Word's converted PDF in docx format.
- Re-save Word document for editing.
- Delete headers and footers.
- Delete preamble on page 1.
- Select all and copy.
- Paste into Visual Studio Code.
- Remove HEI name lines and black lines.
- Change column heading "COURSE AND INSTITUTION" to "Course".
- Change backticks to apostrophes.
- Replaced double tab charater at on line 28 with single tab.
-Delete tabs at end of lines 604, 670, 700, 701, 793, and 830.

### Creating CSV file from the original pdf

- The original pdf was downloaded and saved as a pdf in repository
- The original file was opened with MS Word ass follows:
- Select file > open with > other programs > MSWord >
- open for editing
- Save the editable file in repository under data as as xxxxx.docx format: 
- Resaved a copy to edit in repo as cao2019_edited.docx
- Deleted headers and footers
- deleted the preamble on page 1
- Ctrl 'A', Ctrl 'C' to copy all data in the 21 separate tables
- Opened notepad++ and pasted in the content of the 21 tables 'Ctrl V'

#### manual editing in notepad ++
 
- Removed HEI name lines and black lines
- Removed all Irish fadas: e.g. Gn**** agus Gaeilge 
- Delete blank lines
- Change backticks to apostrophes
- Remove all Irish fadas: e.g. Gn**** agus Gaeilge 
- find \\t replace with \t finds the double tabs and removes them <br>
<span style="color:blue">These were recommended but are they required?:</span>

<span style="color:blue">Replaced double tab charater at on line 28 with single tab.</span> <br>
<span style="color:blue">Delete tabs at end of lines 604, 670, 700, 701, 793, and 830. </span>
- save file


Note: Institutions not required for data frame as institution is identifiable from the course code 1st two letters.<br>  Thus the below not required: <br>
1. Select the 'College/Institute' i.e. 'Athlone Institute of Technology' and cut
2. Move cursor to in front of AIT 1st course line
3. Hold down ALT key and drag cursor down to all AIT courses
4. Ctrl V to paste - click 'tab' key to create tabs
5. Put double quotes around college names as they have commas [select start of string with cursor-alt-type "]
6. Also: \t  in extended file 'replace all' with comma: replaces all the tabs with commas <br> however not recommended here as commas elsewhere will confuse. <br> best to leave tabs as delimiters  e.g. in effect its as 'tsv' tab serapated file but can save as csv

In [37]:
#df2019 = pd.read_csv('data/cao2019_20211102_191031_edited.csv', sep ='\t') 
df2019 = pd.read_csv('data/cao_2019.csv', sep ='\t')

In [38]:
df2019

    Course Code                                             COURSE  EOS    Mid
0         AL801    Software Design with Virtual Reality and Gaming  304  328.0
1         AL802               Software Design with Cloud Computing  301  306.0
2         AL803  Software Design with Mobile Apps and Connected...  309  337.0
3         AL805        Network Management and Cloud Infrastructure  329  442.0
4         AL810                                 Quantity Surveying  307  349.0
..          ...                                                ...  ...    ...
925       WD200                                     Arts (options)  221  296.0
926       WD210                       Software Systems Development  271  329.0
927       WD211                                 Creative Computing  275  322.0
928       WD212                    Recreation and Sport Management  274  311.0
929       WD230           Mechanical and Manufacturing Engineering  273  348.0

[930 rows x 4 columns]

In [39]:
#spot check of data (row)
# use loc or iloc functionality to check data
df2019.iloc[12:15]
#check the final line in the spreadsheet
# reminder 1st 11 rows are heading #excel identifies 1st row as zero
#df2019.iloc[753]
# can also count backwards to last row
#df2019.iloc[-1]

   Course Code                               COURSE  EOS    Mid
12       AL840              Pharmaceutical Sciences  328  411.0
13       AL841  Athletic and Rehabilitation Therapy  423  430.0
14       AL842                Bioveterinary Science  310  366.0

 When trying to save the original html the following code appears: <br>
 UnicodeEncodeError: 'charmap' codec can't encode characters in position<br>
 The solution was to add encoding="utf-8" to the filepath as below<br>
 https://stackoverflow.com/questions/27092833/unicodeencodeerror-charmap-codec-cant-encode-characters

In [40]:
#save original 2019 html file
path2019 = 'data/cao2019_' + nowstr + '.html'
with open(path2019, 'w', encoding="utf-8") as f:
    f.write(resp_2019.text)

In [41]:
#extract the required columns (course and points) from the dataframe
courses2019= df2019[['Course Code' , 'COURSE']]

#### fetch 2018

**propose to go through the same process as 2019**

In [42]:
resp = rq.get ('http://www2.cao.ie/points/lvl8_18.pdf')
resp

In [43]:
path2018 = 'data/cao2018_' + nowstr  + '.html'
# now.strftime('%Y%m%d_%H%M%S')
#save the original html file
with open(path2018, 'w', encoding="utf-8") as f:
    f.write(resp.text)

###How to convert pdf to csv in python- further reading: <br>
-https://stackoverflow.com/questions/49560486/how-to-convert-pdf-to-csv-with-tabula-py

<br>

### Concatenate and Merge dataframes

how to concatenate with pandas <br>
note 'ignore_index'= True <br>
https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html <br>
how to manage duplicates in a dataframe <br>
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html <br>
how to return uniques in dastaframe columns <br>
https://pandas.pydata.org/docs/reference/api/pandas.Series.unique.html <br>
how to drop duplicates in dataframe <br>
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html

[Pandas concat() tricks you should know to speed up your data analysis](https://towardsdatascience.com/pandas-concat-tricks-you-should-know-to-speed-up-your-data-analysis-cd3d4fdfe6dd#:~:text=Dealing%20with%20index%20and%20axis,-Suppose%20we%20have&text=If%20you%20want%20the%20concatenation,%2C%20%E2%80%A6%2C%20n%2D1%20.&text=To%20concatenate%20DataFrames%20horizontally%20along,set%20the%20argument%20axis%3D1%20.)

In [44]:
df2021

,code,title,pointsR1,pointsR2
0,AL801,Software Design for Virtual Reality and Gaming,300,NaN
1,AL802,Software Design in Artificial Intelligence for...,313,NaN
2,AL803,Software Design for Mobile Apps and Connected ...,350,NaN
3,AL805,Computer Engineering for Network Infrastructure,321,NaN
4,AL810,Quantity Surveying,328,NaN
...,...,...,...,...
917,WD211,Creative Computing,270,NaN
918,WD212,Recreation and Sport Management,262,NaN
919,WD230,Mechanical and Manufacturing Engineering,230,230
920,WD231,Early Childhood Care and Education,266,NaN
921,WD232,Business Information Systems,261,261

In [45]:
#extract the required columns (course and points) from the dataframe
courses2021= df2021[['code', 'title']]

In [46]:
courses2021

      code                                              title
0    AL801     Software Design for Virtual Reality and Gaming
1    AL802  Software Design in Artificial Intelligence for...
2    AL803  Software Design for Mobile Apps and Connected ...
3    AL805    Computer Engineering for Network Infrastructure
4    AL810                                 Quantity Surveying
..     ...                                                ...
917  WD211                                 Creative Computing
918  WD212                    Recreation and Sport Management
919  WD230           Mechanical and Manufacturing Engineering
920  WD231                 Early Childhood Care and Education
921  WD232                       Business Information Systems

[922 rows x 2 columns]

In [47]:
# change the title of the columns to match 2021
courses2020= df2020[['COURSE CODE2' , 'COURSE TITLE']]
courses2020.columns = ['code' ,'title']

In [48]:
courses2020

       code                                              title
0     AC120                             International Business
1     AC137                                       Liberal Arts
2     AD101   First Year Art & Design (Common Entry,portfolio)
3     AD102  Graphic Design and Moving Image Design (portfo...
4     AD103  Textile & Surface Design and Jewellery & Objec...
...     ...                                                ...
1459  WD208                          Manufacturing Engineering
1460  WD210                       Software Systems Development
1461  WD211                                 Creative Computing
1462  WD212                    Recreation and Sport Management
1463  WD230           Mechanical and Manufacturing Engineering

[1464 rows x 2 columns]

In [49]:
#extract the required columns (course and points) from the dataframe
courses2019= df2019[['Course Code' , 'COURSE']]
courses2019.columns = ['code', 'title']

In [50]:
courses2019

      code                                              title
0    AL801    Software Design with Virtual Reality and Gaming
1    AL802               Software Design with Cloud Computing
2    AL803  Software Design with Mobile Apps and Connected...
3    AL805        Network Management and Cloud Infrastructure
4    AL810                                 Quantity Surveying
..     ...                                                ...
925  WD200                                     Arts (options)
926  WD210                       Software Systems Development
927  WD211                                 Creative Computing
928  WD212                    Recreation and Sport Management
929  WD230           Mechanical and Manufacturing Engineering

[930 rows x 2 columns]

#### Read the remainder of the course work
- understand how the years are being concatenated
- add the 2019 course codes
- aim is to have a data frame of 2021,2020,2019  points per common course
- ultimately cannot compare points for courses in one year and not the other two
- but these will need to be explained in readme

In [51]:
# merge or concatenate the two datasets into one dataframe
# set ignore_index = True (default is False)
# by default, it is concatenating vertically along the axis 0 and preserving all existing indices i.e. defaut ignore_index= False
# if you wish to continue numbering for concatenated datsframe set ignore_index = True
# To add a hierarchical index (multi-level index) keys=['2021','2020']. However doesn't work when ignore_index=True.
# 922 + 1463 + 930 = 3315 (3316 with zero)
allcourses = pd.concat([courses2021, courses2020, courses2019],ignore_index=True)

In [52]:
# print allcourses
# data frames added end to end-3315 rows.
# contains duplicated courses year to year
allcourses

       code                                              title
0     AL801     Software Design for Virtual Reality and Gaming
1     AL802  Software Design in Artificial Intelligence for...
2     AL803  Software Design for Mobile Apps and Connected ...
3     AL805    Computer Engineering for Network Infrastructure
4     AL810                                 Quantity Surveying
...     ...                                                ...
3311  WD200                                     Arts (options)
3312  WD210                       Software Systems Development
3313  WD211                                 Creative Computing
3314  WD212                    Recreation and Sport Management
3315  WD230           Mechanical and Manufacturing Engineering

[3316 rows x 2 columns]

In [53]:
# sort the new combined dataframe by code 
# which should pick up duplicates
# ASSUMPTION: course codes dont change year to year
allcourses.sort_values('code')

       code                                     title
171   AC120                    International Business
2554  AC120                    International Business
922   AC120                    International Business
172   AC137                              Liberal Arts
923   AC137                              Liberal Arts
...     ...                                       ...
919   WD230  Mechanical and Manufacturing Engineering
2385  WD230  Mechanical and Manufacturing Engineering
3315  WD230  Mechanical and Manufacturing Engineering
920   WD231        Early Childhood Care and Education
921   WD232              Business Information Systems

[3316 rows x 2 columns]

In [54]:
allcourses.loc[919]

code                                        WD230
title    Mechanical and Manufacturing Engineering
Name: 919, dtype: object

In [55]:
allcourses.loc[2385]

code                                        WD230
title    Mechanical and Manufacturing Engineering
Name: 2385, dtype: object

In [56]:
allcourses.loc[3315]

code                                        WD230
title    Mechanical and Manufacturing Engineering
Name: 3315, dtype: object

In [57]:
# returns a false for every row that are not duplicated[boolean function]
allcourses.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
3311     True
3312     True
3313     True
3314     True
3315     True
Length: 3316, dtype: bool

In [58]:
# finds all extra copies of duplicated rows
# duplicated by default doesnt set the 1st iteration of the matching rows as true (returns false)
# returns the last iteration -duplicate i.e.row of index 2385
# i.e. row of index 924 below is a duplicate and is not returned
allcourses[allcourses.duplicated()]

       code                                              title
922   AC120                             International Business
923   AC137                                       Liberal Arts
925   AD102  Graphic Design and Moving Image Design (portfo...
928   AD204                               Fine Art (portfolio)
929   AD211                         Fashion Design (portfolio)
...     ...                                                ...
3311  WD200                                     Arts (options)
3312  WD210                       Software Systems Development
3313  WD211                                 Creative Computing
3314  WD212                    Recreation and Sport Management
3315  WD230           Mechanical and Manufacturing Engineering

[1366 rows x 2 columns]

In [59]:
# keep =first : Drop duplicates except for the first occurrence.
# keep = last : Drop duplicates except for the last occurrence.
# keep = False discards all sets of duplicated entries.
# Hence 2244 original CAO course codes in 2021-2019
allcourses[allcourses.duplicated(keep = False)]

       code                                     title
4     AL810                        Quantity Surveying
5     AL820        Mechanical and Polymer Engineering
6     AL830                           General Nursing
9     AL836              Nutrition and Health Science
10    AL837   Sports Science with Exercise Physiology
...     ...                                       ...
3311  WD200                            Arts (options)
3312  WD210              Software Systems Development
3313  WD211                        Creative Computing
3314  WD212           Recreation and Sport Management
3315  WD230  Mechanical and Manufacturing Engineering

[2196 rows x 2 columns]

In [60]:
#returns back the dataframe with all duplicates dropped
allcourses.drop_duplicates()

       code                                              title
0     AL801     Software Design for Virtual Reality and Gaming
1     AL802  Software Design in Artificial Intelligence for...
2     AL803  Software Design for Mobile Apps and Connected ...
3     AL805    Computer Engineering for Network Infrastructure
4     AL810                                 Quantity Surveying
...     ...                                                ...
3255  TL802                             TV Radio and New Media
3256  TL803                                   Music Technology
3259  TL812                       Computing with Digital Media
3263  TL842                            Construction Management
3297  WD148                                  Tourism Marketing

[1950 rows x 2 columns]

In [61]:
# Returns all extra copies of duplicated rows.
allcourses[allcourses.duplicated(subset =['code'])]

       code                                              title
922   AC120                             International Business
923   AC137                                       Liberal Arts
924   AD101   First Year Art & Design (Common Entry,portfolio)
925   AD102  Graphic Design and Moving Image Design (portfo...
926   AD103  Textile & Surface Design and Jewellery & Objec...
...     ...                                                ...
3311  WD200                                     Arts (options)
3312  WD210                       Software Systems Development
3313  WD211                                 Creative Computing
3314  WD212                    Recreation and Sport Management
3315  WD230           Mechanical and Manufacturing Engineering

[1668 rows x 2 columns]

In [62]:
#drop duplicates based on the same code
allcourses.drop_duplicates(subset=['code'])

       code                                              title
0     AL801     Software Design for Virtual Reality and Gaming
1     AL802  Software Design in Artificial Intelligence for...
2     AL803  Software Design for Mobile Apps and Connected ...
3     AL805    Computer Engineering for Network Infrastructure
4     AL810                                 Quantity Surveying
...     ...                                                ...
3250  SG446                                Applied Archaeology
3256  TL803                                   Music Technology
3259  TL812                       Computing with Digital Media
3263  TL842                            Construction Management
3297  WD148                                  Tourism Marketing

[1648 rows x 2 columns]

In [63]:
# drop duplicates based on the same code
# creates a new dataframe as by default-this is identified by 'inplace=False'
# ignore_index cleans up the duplicates in the index i.e. counts just one of duplicates indexes
allcourses.drop_duplicates(subset=['code'], inplace=True, ignore_index=True)

In [64]:
# as we used inplace=True then we have permanently unduplicated the dataframe for codes
# when run allcourses this time the default dataframe has no course code duplicates
allcourses

       code                                              title
0     AL801     Software Design for Virtual Reality and Gaming
1     AL802  Software Design in Artificial Intelligence for...
2     AL803  Software Design for Mobile Apps and Connected ...
3     AL805    Computer Engineering for Network Infrastructure
4     AL810                                 Quantity Surveying
...     ...                                                ...
1643  SG446                                Applied Archaeology
1644  TL803                                   Music Technology
1645  TL812                       Computing with Digital Media
1646  TL842                            Construction Management
1647  WD148                                  Tourism Marketing

[1648 rows x 2 columns]

reset index in pandas dataframe<br>
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html

In [65]:
#sort by courses (alphabetical)
#allcourses.sort_values ('code')

In [66]:
# allcourses.loc[0]

In [67]:
# allcourses.iloc[0]

<br>

## Join all Points 
***
<br>

worth knowing: pandas dataframe.join
how:
**main event is left**
- left join: - whatever df is on the left (join call) the other is on the right . keeps everything from the left
- only join: keeps values in BOTH dataframes
- right join: keeps everything in the right dataframe
- full-outer join merges everything- (have a lot of NaN's)

In [68]:
#set the index to the code column
df2021.set_index ('code', inplace=True)
df2021.columns = ['title' , 'points_r1_2021', 'points_r2_2021']
df2021

,title,points_r1_2021,points_r2_2021
code,,,
AL801,Software Design for Virtual Reality and Gaming,300,NaN
AL802,Software Design in Artificial Intelligence for...,313,NaN
AL803,Software Design for Mobile Apps and Connected ...,350,NaN
AL805,Computer Engineering for Network Infrastructure,321,NaN
AL810,Quantity Surveying,328,NaN
...,...,...,...
WD211,Creative Computing,270,NaN
WD212,Recreation and Sport Management,262,NaN
WD230,Mechanical and Manufacturing Engineering,230,230
WD231,Early Childhood Care and Education,266,NaN
WD232,Business Information Systems,261,261

In [69]:
#pull in the points from 2021 and 2020
#see pandas concatenate reference above

In [70]:
#set the column as the index
allcourses.set_index('code', inplace =True)

In [71]:
#just merge what you need from the 2021 dataframe i.e. code and points
#where NaN it defines as code that was not run in 2021
allcourses = allcourses.join(df2021[['points_r1_2021']])
allcourses

                                                   title points_r1_2021
code
AL801     Software Design for Virtual Reality and Gaming            300
AL802  Software Design in Artificial Intelligence for...            313
AL803  Software Design for Mobile Apps and Connected ...            350
AL805    Computer Engineering for Network Infrastructure            321
AL810                                 Quantity Surveying            328
...                                                  ...            ...
SG446                                Applied Archaeology            NaN
TL803                                   Music Technology            NaN
TL812                       Computing with Digital Media            NaN
TL842                            Construction Management            NaN
WD148                                  Tourism Marketing            NaN

[1648 rows x 2 columns]

In [72]:
# rename the points columns in df2020 to align with allcourses nomenclature
df2020_r1= df2020 [['COURSE CODE2', 'R1 POINTS']]
df2020_r1.columns = ['code', 'points_R1_2020']
df2020_r1

       code points_R1_2020
0     AC120            209
1     AC137            252
2     AD101       #+matric
3     AD102       #+matric
4     AD103       #+matric
...     ...            ...
1459  WD208            188
1460  WD210            279
1461  WD211            271
1462  WD212            270
1463  WD230            253

[1464 rows x 2 columns]

In [73]:
# set the index to the code column
df2020_r1.set_index ('code', inplace=True)
df2020_r1

      points_R1_2020
code
AC120            209
AC137            252
AD101       #+matric
AD102       #+matric
AD103       #+matric
...              ...
WD208            188
WD210            279
WD211            271
WD212            270
WD230            253

[1464 rows x 1 columns]

In [74]:
#just merge what you need from the 2021 dataframe i.e. code and points
#where NaN it defines as code that was not run in 2021
#join2020 points to all courses
#allcourses = allcourses.join(df2021[['pointsR1']])
#allcourses

In [75]:
# join 2020 points to all courses
allcourses = allcourses.join(df2020_r1)
allcourses

,title,points_r1_2021,points_R1_2020
code,,,
AL801,Software Design for Virtual Reality and Gaming,300,303
AL802,Software Design in Artificial Intelligence for...,313,332
AL803,Software Design for Mobile Apps and Connected ...,350,337
AL805,Computer Engineering for Network Infrastructure,321,333
AL810,Quantity Surveying,328,319
...,...,...,...
SG446,Applied Archaeology,NaN,NaN
TL803,Music Technology,NaN,NaN
TL812,Computing with Digital Media,NaN,NaN
TL842,Construction Management,NaN,NaN
WD148,Tourism Marketing,NaN,NaN

## Check in website if EOS is main points and Mid is 2nd offer

In [76]:
df2019

    Course Code                                             COURSE  EOS    Mid
0         AL801    Software Design with Virtual Reality and Gaming  304  328.0
1         AL802               Software Design with Cloud Computing  301  306.0
2         AL803  Software Design with Mobile Apps and Connected...  309  337.0
3         AL805        Network Management and Cloud Infrastructure  329  442.0
4         AL810                                 Quantity Surveying  307  349.0
..          ...                                                ...  ...    ...
925       WD200                                     Arts (options)  221  296.0
926       WD210                       Software Systems Development  271  329.0
927       WD211                                 Creative Computing  275  322.0
928       WD212                    Recreation and Sport Management  274  311.0
929       WD230           Mechanical and Manufacturing Engineering  273  348.0

[930 rows x 4 columns]

In [77]:
# rename the points columns in df2019 to align with allcourses nomenclature
df2019_r1= df2019 [['Course Code', 'EOS']]
df2019_r1.columns = ['code', 'points_R1_2019']
df2019_r1

      code points_R1_2019
0    AL801            304
1    AL802            301
2    AL803            309
3    AL805            329
4    AL810            307
..     ...            ...
925  WD200            221
926  WD210            271
927  WD211            275
928  WD212            274
929  WD230            273

[930 rows x 2 columns]

In [78]:
# set the index to the code column
df2019_r1.set_index ('code', inplace=True)
df2019_r1

      points_R1_2019
code
AL801            304
AL802            301
AL803            309
AL805            329
AL810            307
...              ...
WD200            221
WD210            271
WD211            275
WD212            274
WD230            273

[930 rows x 1 columns]

In [79]:
# join 2019points to all courses
allcourses = allcourses.join(df2019_r1)
allcourses

,title,points_r1_2021,points_R1_2020,points_R1_2019
code,,,,
AL801,Software Design for Virtual Reality and Gaming,300,303,304
AL802,Software Design in Artificial Intelligence for...,313,332,301
AL803,Software Design for Mobile Apps and Connected ...,350,337,309
AL805,Computer Engineering for Network Infrastructure,321,333,329
AL810,Quantity Surveying,328,319,307
...,...,...,...,...
SG446,Applied Archaeology,NaN,NaN,289
TL803,Music Technology,NaN,NaN,264
TL812,Computing with Digital Media,NaN,NaN,369
TL842,Construction Management,NaN,NaN,NaN
WD148,Tourism Marketing,NaN,NaN,269

#### References:

https://www.prepressure.com/library/technology/ascii-binary-hex

http://www.i18nqa.com/debug/table-iso8859-1-vs-windows-1252.html

https://docs.python.org/3/library/datetime.html

https://www.ibm.com/ie-en/products/spss-statistics-gradpack

# Detailed comparison of CAO points in 2019,2020,2021 using the functionality in pandas
---
<br>

In [80]:
allcourses.head()

,title,points_r1_2021,points_R1_2020,points_R1_2019
code,,,,
AL801,Software Design for Virtual Reality and Gaming,300,303,304
AL802,Software Design in Artificial Intelligence for...,313,332,301
AL803,Software Design for Mobile Apps and Connected ...,350,337,309
AL805,Computer Engineering for Network Infrastructure,321,333,329
AL810,Quantity Surveying,328,319,307

In [81]:
allcourses.tail()

,title,points_r1_2021,points_R1_2020,points_R1_2019
code,,,,
SG446,Applied Archaeology,NaN,NaN,289
TL803,Music Technology,NaN,NaN,264
TL812,Computing with Digital Media,NaN,NaN,369
TL842,Construction Management,NaN,NaN,NaN
WD148,Tourism Marketing,NaN,NaN,269

In [82]:
allcourses.describe()

           title points_r1_2021 points_R1_2020 points_R1_2019
count       1648            920           1437            926
unique      1030            372            389            357
top     Business            300            AQA            300
freq          32             18             26             32

In [83]:
allcourses.mean()

Series([], dtype: float64)

In [84]:
print(allcourses.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1648 entries, AL801 to WD148
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           1648 non-null   object
 1   points_r1_2021  920 non-null    object
 2   points_R1_2020  1437 non-null   object
 3   points_R1_2019  926 non-null    object
dtypes: object(4)
memory usage: 128.9+ KB
None

In [85]:
# import seaborn as sns
# sns.pairplot(allcourses, hue= "species")

https://www.w3schools.com/python/pandas

In [86]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

In [87]:
# Note: When using [], the result is a Pandas DataFrame.
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [88]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [89]:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

#### is it worth checking using VSC or Notebook++ to 'clean-up' 2019 data. 
#### if changes are made then change the markdown cell above code
#### take care to 

ParserError:
i.e. (options, portfolio) to (options portfolio)<br>
Error tokenizing data. C error: Expected 1 fields in line 30, saw 2 <br>
Error tokenizing data. C error: Expected 1 fields in line 32, saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 59, saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 63, saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 81, saw 3<br>
Error tokenizing data. C error: Expected 1 fields in line 144, saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 258, saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 263, saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 337, saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 343, saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 359, saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 363, saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 366, saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 392, saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 447, saw 3<br>
Error tokenizing data. C error: Expected 1 fields in line 453, saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 481, saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 509, saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 520, saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 616, saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 618, saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 630, saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 643, saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 644, saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 655, saw 4<br>
Error tokenizing data. C error: Expected 1 fields in line 655, saw 3<br>
Error tokenizing data. C error: Expected 1 fields in line 665, saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 697,698,699,670 saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 703, saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 749, saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 751, saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 830, saw 2<br>
Error tokenizing data. C error: Expected 1 fields in line 872, saw 2

In [90]:
df = pd.read_csv('data\cao_2019.csv')

print(df)

                         Course Code\tCOURSE\tEOS\tMid
0    AL801\tSoftware Design with Virtual Reality an...
1    AL802\tSoftware Design with Cloud Computing\t3...
2    AL803\tSoftware Design with Mobile Apps and Co...
3    AL805\tNetwork Management and Cloud Infrastruc...
4                  AL810\tQuantity Surveying\t307\t349
..                                                 ...
925                    WD200\tArts (options)\t221\t296
926      WD210\tSoftware Systems Development\t271\t329
927                WD211\tCreative Computing\t275\t322
928   WD212\tRecreation and Sport Management\t274\t311
929  WD230\tMechanical and Manufacturing Engineerin...

[930 rows x 1 columns]

In [91]:
import pandas as pd

data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [92]:
# Remove all rows with NULL values:
# Returns a new DataFrame, and will not change the original.
# if want to change the original add:  (inplace = True)
new_df = allcourses.dropna()
print(new_df.to_string())

                                                    title points_r1_2021 points_R1_2020 points_R1_2019
code
AL801      Software Design for Virtual Reality and Gaming            300            303            304
AL802  Software Design in Artificial Intelligence for Clo            313            332            301
AL803  Software Design for Mobile Apps and Connected Devi            350            337            309
AL805     Computer Engineering for Network Infrastructure            321            333            329
AL810                                  Quantity Surveying            328            319            307
AL820                  Mechanical and Polymer Engineering            327            308            300
AL830                                     General Nursing           451*            442            410
AL832                               Mental Health Nursing           440*            387            387
AL836                        Nutrition and Health Science            346            334            352
AL837             Sports Science with Exercise Physiology            357            351            351
AL838                                       Biotechnology            324            307            302
AL839                                        Microbiology            325            325            322
AL840                             Pharmaceutical Sciences            346            347            328
AL841                 Athletic and Rehabilitation Therapy            477            430            423
AL842                               Bioveterinary Science            338            313            310
AL843                Physical Activity and Health Science            306            306            310
AL850                                            Business            309            309            307
AL851                                    Business and Law            302            295            301
AL852                                          Accounting            336            309            290
AL855  Hospitality Management (with international placeme            309            308            312
AL857                                   Digital Marketing            304            304            300
AL860                                Social Care Practice            301            300            309
AL861              Animation and Illustration (portfolio)           #575            578           #615
AL863              Graphic and Digital Design (portfolio)           #747            781           #703
AL864                      Early Years Care and Education            306            307            307
AL870                                  Applied Psychology           484*            418            409
CW018                                  Business (options)            307            298            327
CW028                  Early Childhood Education and Care            260            252            252
CW038                                     Art (portfolio)           #700            700           #700
CW058                        Tourism and Event Management            292            298            252
CW068  Applied Social Studies in Professional Social Care            250            245            251
CW078        Sustainable Farm Management and Agribusiness            270            269            266
CW088                    Visual Communications and Design            270            274            309
CW108                                   Science (options)            266            261            261
CW128                              Brewing and Distilling            307            263            271
CW188           Sport Rehabilitation and Athletic Therapy            451            451            454
CW208                          Computer Games Development            272            279            281
CW238                                Software Development            295            297            300
CW248                   Information Technology Management            293            285            307
CW258                          Cybercrime and IT Security            292            293            300
CW268     Computing in Interactive Digital Art and Design            291            287            274
CW438                              Construction (options)            260            272            271
CW468                            Architectural Technology            291            262            252
CW478                                   Civil Engineering            465            433            348
CW548                              Mechanical Engineering            330            321            310
CW558                                  Electronic Systems            280            280            279
CW568                               Aerospace Engineering            371            380            366
CW578                             TV and Media Production            318            325            327
CW708                                           Law - LLB            292            302            298
CW728                           Product Design Innovation            246            252            286
CW748                  Early Childhood Education and Care            290            270            265
CW758                   Professional Social Care Practice            360            336            290
CW808                          Media and Public Relations            247            251            248
CW848                    Digital Marketing with Analytics            269            254            279
CW858  Sports Management and Coaching (options  portfolio           #700            700           #700
CW908                                  Business (options)            272            280            260
CW938                                   Business with Law            270            283            270
CW948                                          Accounting            319            300            301
PC405             Social  Political and Community Studies            263            253            251
PC410  Arts and Humanities (fulfils Teaching Council requ            262            252            203
PC411  English and History (fulfils Teaching Council requ            243            255            168
CR105          Chemical and Biopharmaceutical Engineering            443            443            432
CR106                                Software Development            431            411            351
CR108                              Mechanical Engineering            434            434            425
CR109                              Structural Engineering            396            394            341
CR110       Automotive Business Management and Technology            336            311            318
CR112   Creative Digital Media at CIT Crawford College of            390            361            335
CR116                                    Computer Systems            365            332            318
CR121                   Music at CIT Cork School of Music           #904            868           #633
CR125           Popular Music at CIT Cork School of Music          #1028           1088           #972
CR130         Musical Theatre at CIT Cork School of Music           #525            548           #500
CR150                        Business Information Systems            350            335            326
CR210  Contemporary Applied Art (Ceramics  Glass  Textile           #450       #+matric           #979
CR220  Fine Art at CIT Crawford College of Art and Design           #400       #+matric           #620
CR225  Photography with New Media at CIT Crawford College           #435       #+matric           #920
CR305                    Physical Sciences (Common Entry)            260            282            279
CR310                                       IT Management            347            297            282
CR320  Biomedical Science - Offered jointly by CIT and UC           590*            565            546
CR325                        Pharmaceutical Biotechnology            466            398            388
CR333                        Nutrition and Health Science            425            402            360
CR335                  Biological Sciences (Common Entry)            473            420            381
CR340         Analytical Chemistry with Quality Assurance            327            251            288
CR360                              Instrument Engineering            301            261            291
CR365    Environmental Science and Sustainable Technology            262            253            334
CR370                                    Agri-Biosciences            368            397            408
CR400                                          Accounting            315            316            316
CR420                                           Marketing            290            285            288
CR425                International Business with Language            279            298            300
CR500                          Engineering (Common Entry)            475            411            381
CR510                      Sustainable Energy Engineering            320            320            319
CR520                              Biomedical Engineering            444            444            434
CR560                            Architectural Technology            375            308            288
CR565                               Interior Architecture            431            359            336
CR570                                  Quantity Surveying            375            336            279
CR572                             Construction Management            300            269            253
CR580                              Electrical Engineering            342            318            344
CR590                              Electronic Engineering            329            303            342
CR600  Visual Communications at CIT Crawford College of A           #280       #+matric           #587
CR660                                  Tourism Management            246            252            249
CR700  Theatre and Drama Studies at CIT Cork School of Mu           #609            740           #768
CK101                                      Arts - 3 years            300            300            300
CK102                                      Social Science            434            412            391
CK104  Arts with Music - 3 or 4 years (BMus or Chinese/Eu           #339            302           #340
CK105  Film and Screen Media - 3 years or 4 years (Intern            421            368            397
CK107   Geographical and Archaeological Sciences - 3 or 4            312            328            326
CK108                        Arts International - 4 years           440*            401            429
CK109  English - 3 years or 4 years (International Pathwa            367            318            347
CK110                                     World Languages            488            452            456
CK111                   Early Years and Childhood Studies            409            419            398
CK112   Theatre and Performative Practices - 3 or 4 years           #371            330           #324
CK113  Criminology - 3 years or 4 years (International Pa            464            423            408
CK118  Digital Humanities and IT - 3 or 4 years (Work Exp            347            336            307
CK120                                  Applied Psychology            544            533            506
CK121  Psychology and Computing - 3 or 4 years (Work Expe            499            466            393
CK122                    Government and Political Science            399            337            355
CK201                                            Commerce            500            477           465*
CK202                                          Accounting            553            509            467
CK203                        Business Information Systems            455            430            409
CK204                                             Finance           566*            556            531
CK205                Commerce (International) with French            465            445            409
CK206                Commerce (International) with German            466            420            408
CK207               Commerce (International) with Italian            423            388            408
CK208      Commerce (International) with Hispanic Studies            488            402            431
CK209                 Commerce (International) with Irish            507            484            509
CK211       Commerce (International) with Chinese Studies            385            397            398
CK212  Economics (through Transformational Learning) 3 or            445            444            400
CK301                      Law (Pathways) -  3 or 4 years            533            507            476
CK302                                      Law and French            545            542            453
CK304                                       Law and Irish            588            540            462
CK307                                    Law and Business           589*            556            522
CK401                                    Computer Science            503            468            402
CK402                    Biological and Chemical Sciences           555*            510            498
CK404        Biological  Earth and Environmental Sciences            500            467            412
CK405                                            Genetics            543            487            476
CK406                                   Chemical Sciences            532            485            457
CK407                               Mathematical Sciences            566            566            531
CK408                            Physics and Astrophysics            566            554            511
CK409  Industrial Physics - Offered jointly by UCC and CI            465            432            413
CK411                          Data Science and Analytics            531            510            509
CK412                                Agricultural Science            506            496            457
CK504                                Nutritional Sciences            555            518            492
CK505                                        Food Science            463            441            444
CK600                                         Engineering            510            487            465
CK606       Architecture - Offered jointly by UCC and CIT            543            484            465
CK701      Medicine (Undergraduate Entry - HPAT required)           #738            731           #729
CK702                                           Dentistry           625*            613            590
CK703                                            Pharmacy           613*            590            577
CK704                                Occupational Therapy           601*            566           532*
CK705                         Speech and Language Therapy            568            520            509
CK706                              Public Health Sciences            500            454            419
CK707                         Medical and Health Sciences           578*            542           510*
CK710                                     General Nursing           498*            454            440
CK712         Children`s and General Nursing (Integrated)            565            533            499
CK720                               Mental Health Nursing            455            423            398
CK730                     Intellectual Disability Nursing            431            419            359
CK740                                           Midwifery           509*            484            444
AC120                              International Business            294            209            234
AC137                                        Liberal Arts            271            252            252
CT125                                    Computing and IT            242            220            235
CM001                        Education - Primary Teaching            508            484           452*
CM003  Oideachas  Bunmhinteoireacht Tr Mhen na Gaeilg           #513            528           #491
CM004  Oideachas - Bunmhinteoireacht Tr Mhen na Gaeilg           #480            494           #492
CM010                                   Education Studies            382            319            317
CM020                           Early Childhood Education            317            327            336
DB500                                           Computing            234            218            242
DB502             Computing (Data Analytics and Big Data)            267            341            269
DB510       Audio Production and Music Project Management            217            234            233
DB512                                    Business Studies            243            218            229
DB514                              Business Studies (Law)            239            252            269
DB515        Business Studies (Human Resource Management)            242            244            225
DB517                        Marketing (Event Management)            233            238            226
DB521                              Accounting and Finance            243            225            225
DB524                      Business (Information Systems)            247            342            402
DB526                          Business (Cloud Computing)            244            347            253
DB527                                 Applied Social Care            254            234            235
DB531                                           Marketing            288            293            220
DB562                                          Psychology            244            243            208
DB566                                      Social Science            262            220            216
DB567                             Film and Creative Media            245            218            192
DB568                                                 Law            254            219            245
DB569                               Business (Psychology)            240            252            279
DC001               Education - Early Childhood Education            445            440            398
DC002                        Education - Primary Teaching           518*            488           462*
DC003  Education - Primary Teaching - Gaeltacht Applicant           #489            445           #433
DC004  Education - Primary Teaching (Church of Ireland Ce           #451            411           #357
DC009                   Arts (Joint Honours) - Humanities            356            376            347
DC010  Post Primary Teacher Education - Religious Educati            384            441            386
DC011  Post Primary Teacher Education - Religious Educati            409            412            352
DC012  Post Primary Teacher Education - Religious Educati            409            378           #367
DC013  Post Primary Teacher Ed - Gaeilge with French/Germ            413            419            410
DC014  BA in Jazz and Contemporary Music Performance (aud           #311            419           #428
DC110                      Business Studies International            498            465            440
DC111                                    Business Studies            511            488            463

In [93]:
# allcourses.fillna(130, inplace = True)
#allcourses.fillna(130)
#allcourses

how to undo a change <br>
df.replace(to_replace='and', value='&', inplace=true) <br>
https://stackoverflow.com/questions/50931697/undo-a-change-that-was-performed-using-pandas

In [94]:
# Replace NULL values in the "points_r1_2021" column with the number 130:
#allcourses["points_r1_2021"].fillna(130, inplace = True)
#allcourses

In [95]:
allcourses

,title,points_r1_2021,points_R1_2020,points_R1_2019
code,,,,
AL801,Software Design for Virtual Reality and Gaming,300,303,304
AL802,Software Design in Artificial Intelligence for...,313,332,301
AL803,Software Design for Mobile Apps and Connected ...,350,337,309
AL805,Computer Engineering for Network Infrastructure,321,333,329
AL810,Quantity Surveying,328,319,307
...,...,...,...,...
SG446,Applied Archaeology,NaN,NaN,289
TL803,Music Technology,NaN,NaN,264
TL812,Computing with Digital Media,NaN,NaN,369
TL842,Construction Management,NaN,NaN,NaN
WD148,Tourism Marketing,NaN,NaN,269

In [97]:
x = allcourses["points_r1_2021"].mean()
allcourses["points_r1_2021"].fillna(x, inplace = True)
allcourses

TypeError: can only concatenate str (not "int") to str

#  Appropriate plots and other visuaizations to enhance your notebook for viewers
---
<br>