 ## CAO Points Notebook
 
 - clear and concise overview of how to load CAO points info from the CAO website into a PANDAS dataframe
 - Detailed comparison of CAO points in 2019,2020,2021 using the functionality in pandas
 - Appropriate plots and other visuaizations to enhance your notebook for viewers

http://www2.cao.ie/points/l8.php

***
'PHP' indicates that the webpage has been programmed using PHP, a server side scripting language.

In [1]:
#convenient http requests
import requests as rq

# regular expressions
import re

#dates and times
import datetime as dt

# for dataframes import pandas
# v useful to get data from spreadsheets
import pandas as pd

#for downloading files to python
import urllib.request as urlrq

In [2]:
#now = dt.datetime.now()

In [3]:
#datetime function has a data structure called datetime
#field for time, day ,month etc
#dt.datetime.now()
now = dt.datetime.now()
now

datetime.datetime(2021, 12, 3, 20, 29, 45, 690848)

In [4]:
# format now as a string
#if have datetimestamp as separate and unique at the start of the notebook
# then potentially can overwrite but on positive side all files 
# created in logbook run will have the same datetimestamp so neater and can track
#2020 datafile saved as'now' file is equivalent to corresponding 2021 saved as same'now' etc
now.strftime('%Y%m%d_%H%M%S')

'20211203_202945'

In [5]:
print(now)

2021-12-03 20:29:45.690848

# 2021 points

http://www2.cao.ie/points/l8.php

***

In [6]:
# fetch the CAO points URL
# resp= response from the URL
# rq= request library
# get= get the url (NB: gets the HTTP version!)
resp = rq.get ('http://www2.cao.ie/points/l8.php')
#have a quick peek
resp
# resp [200] means html response is in order.  [404] if returns means it is not found .  These are http codes

### use the current time as a filename - need to remove colons, decimal points etc

In [7]:
# good programmers use only alphanumeric characters,dash and dot in file names
#create a filepath for the original data
#use year at start to ensure alphabetic sorted when filed
# below creates the EMPTY html file and saves it in a new 'data' folder in active location  ie. \repo\Fun_of..
path2021html = 'data/cao2021_' + now.strftime('%Y%m%d_%H%M%S')  + '.html'

### the server uses the wrong encoding fix it before saving

In [8]:
#RESP = RESPONSE
#'resp.text' takes the response and converts it to text- but still has original errors
#thus not best way to save THIS original file
#but resp.text is a typical way to save

In [9]:
original_encoding = resp.encoding
resp.encoding = 'cp1252'

In [10]:
#save the original html file:
# using the updated coding cp1252 as a TEXT file
#this file is not used in the regular expression script but saved as a record 

with open(path2021html, 'w') as f:
    f.write(resp.text)

In [11]:
# python looks for html codes such as \n \t
#\n is a new line (common Unix command)
#resp.text

https://stackabuse.com/pythons-itertools-count-cycle-and-chain/

In [ ]:
#how to loop through (iterate through) the lines in request. 
for line in resp.iter_lines(): 
    print(line)

In [13]:
#compile the regular expression for matching lines
# re= regular expression. Each character is a string but together form an instruction.
# r' = 'raw' used in python. It means don't evaluate backslashes in encountered string literals  i.e. \n \t i.e 
re_course = re.compile(r'([A-Z]{2}[0-9]{3})  (.*)([0-9]{3})(\*?) *')

#shortened RE to simplify i.e. does the line have two alphabetic characters followed by three numbers followed by anything else
#re_course = re.compile(r'([A-Z]{2}[0-9]{3})(.*)')

<br>

**error on the server= way to fix**

match only the lines we want -the ones representing courses 
 technically the server says we should decode as:
 
content-type: text/html; charset: iso-8859-1

  but
    -one line uses /x96 which isn't defined in iso-8859-1
    -therefore we used the similiar decoding standard (codec) cp-1252 which is very similar but includes \x96

### loop through the lines of the response
***

In [14]:
#the filepath for the csv file- which is the output of the below script
path2021csv = 'data/cao2021_csv' + now.strftime('%Y%m%d_%H%M%S')  + '.csv'

In [17]:
#for the below if used in assessment should be cleaned up. Check regular expressions are working properly
# if want to save output of this then need a filepath and file format like the original data above

no_lines = 0
#open the csv file for writing
with open(path2021csv, 'w') as f:
    # write a header row
    f.write(','.join(['code', 'title', 'pointsR1', 'pointsR2']) + '\n')
   # f.write(resp.text)   
    #loop through the lines of the response content
    for line in resp.iter_lines():
        #decode the line using the encoding not flagged by the response from CAO
        decoded_line = line.decode('cp1252')
        #match only the lines representing the requirements of the regular expression (i.e. line containing course)
        if re_course.fullmatch(decoded_line):
            #add one to the line counter
            no_lines = no_lines + 1
            #print(line)# to check the output- can be commented out as required

        # version 1 using regular expression
        # csv_version = re_course.sub(r'\1,\2,\3,\4', dline)
        #version 1 using re commented out
        #print(csv_version) no need to print so commented out
        #alternate way than regular expression is to use python in built split function
        # 'split' splits the line
        #(+ ) instructs to do this where two or more spaces- NB the spaces represented before the '+' below are v important
            linesplit = re.split('  +', decoded_line)

            f.write(','.join(linesplit) + '\n') 
print(f"total number of lines is {no_lines}.")    
# long outputs are a pain in github as will render without the abiliity to scroll. 
# Therefore don't print it all out.   
# Can use scikit learn. Suggestion below

total number of lines is 922.

#### regular expression syntax
https://www.w3schools.com/python/python_regex.asp

https://docs.python.org/3/library/re.html

#### how to use split function
https://pynative.com/python-regex-split/#h-how-to-use-re-split-function

syntax: re.split(pattern, string, maxsplit=0, flags=0)

In [16]:
import numpy as np
# o upto 10000 (not including)
x = np.linspace(-20.0, 10.0,10000)
#i = 0
#for i in x
# evertyime i is a multiple of 1000
for i in range (len(x)):
    if (i % 1000) == 0:
        print (f"{x[i]:.1}")
# this will avoid the length cell especially in github notebook renderer and nbv viewer

-2e+01
-2e+01
-1e+01
-1e+01
-8e+00
-5e+00
-2e+00
1e+00
4e+00
7e+00

<br>

#### helper function

In [ ]:
# takes in s (str) - checks is 1st character #? 
#if yes then stores in portfolio a
# otherwise it stores an empty string
def points_to_array(s):
    portfolio = ''
    if s[0] == '#':
        portfolio = '#'
        random = ''
        #checks the last character  if its an asterisk then it stores 
        if s[-1] == '*':
            random = '*'
            # loops through each characters in string for i in s
            # + is string concatenation 
            # + is not addition
        points = ''
        for i in s:
            if i.isdigit():
                points = points + 1
                return [points, portfolio, random]
            
# 'would recommend changing course _points[0], course_points[1]] into arrays with three things in them
#hash character , empty string, points ,random has- maybe don't need if read in pandas'

#### Extra lines in html- how to reconcile the # lines of html vs the csv
- i.e. total number of lines output in jupyter code
- open VSC
- delete all the lines that don't want
- delete preamble & sections within colleges

####  find \n\n and replace with \n
in RE turned on : ^ looks for start of line $ looks for end of line <br>
cant find and replace with these but can find S&F of lines

#### alternate way to sort
- different to RE but similar result
- more manual

In [ ]:
#the filepath for the alternate csv file- which is the output of the below script that uses a more 1st principles approach
path2021csv2 = 'data/cao2021_csv(2)' + now.strftime('%Y%m%d_%H%M%S')  + '.csv'

In [ ]:
# older version of code

no_lines = 0
#open the csv file for writing
with open(path2021csv2, 'w') as f:
    # write a header row
    f.write(','.join(['code', 'title', 'pointsR1', 'pointsR2']) + '\n')
    #debug:
            ##print(len(linesplit), linesplit ,dline)
            #this will show you how the RE is splitting 
            #i.e. expect '4' for len(length) of linesplit, then in square brackets how it splits 'xxx', then outside square brackets the string- 'dline'
            
            #print out just the course code # :5b means simply print out the characters up to position 5 (0-4 in python)
            #course_code = dline[:5]
            #print (course_code)
            
            #print out just the course title- starts at 7n in..trial and error re run until get longest course title
            #course_title = dline[7:57]
            #print (course_title)     
            
            #round one points - prints out both round 1 and round 2  Note: can't separate 'round' and '1'
            #course_round1 = dline[60:]
            #print (course_round1)
            
            #can edit the RE and re-run these to debug further
            
            #further debugging
            #split on the space. Has a look for one ore more space and splits it
            #course_points = re.split('  +' , dline[60:])
            #print(f"'{course_code} {course_points}'")
            
            #last line is returning anything but two substrings back- create an exception
           # if len(course_points) != 2:
                #course_points = course_points[:2]
               # join the fields usign a comma
               # linesplit = [course_code,course_title, course _points[0], course_points[1]]
                
            #print(','.join(linesplit))
            #f.write(csv_version + '\n') - saving of old RE way
            #rejoin the substrings with commas in-between
            #f.write(','.join(linesplit) + '\n')
            
            #result - output is a csv file!
    for line in resp.iter_lines():
        dline = line.decode('cp1252')
        if re_course.fullmatch(dline):
            no_lines = no_lines + 1
            course_code = dline[:5]
            course_title = dline[7:57].strip()
            course_points = re.split('  +' , dline[60:])
            if len(course_points) != 2:
                course_points = course_points[:2]
            linesplit = [course_code,course_title, course_points[0], course_points[1]]
            f.write(','.join(linesplit) + '\n') 
            print(line) # to check the output- can be commented out as required
print(f"total number of lines is {no_lines}.")

# output path2021 is a csv file
#note pandas coud convert html to csv but better to use own code and save as csv- use pandas thereafter

stripstrings = ' abc     ' <br>
**s.strip()** strips the white space** <br>

<br>

**NB** it was verfied as pof  xx yy zz that there were  949 courses exactly in the CAO 2021 points list

In [ ]:
#old code
#how to loop throught the linesv in request. iterate through the lines in request using a regular expression
#for line in resp.iter_lines():
   # if re.match('[A-Z]{2}[0-9]{3}  .* *(0-9){3} *', line.decode('utf-8') ):
               # print(line)

In [ ]:
df2021 = pd.read_csv(path2021, encoding='cp1252')

<br>

# 2020 points

http://www.cao.ie/index.php?page=points&p=2020

***

### download and parse the excel spreadsheet using pandas

In [ ]:
#create a variable for the url to keep it neat
url2020 = 'http://www2.cao.ie/points/CAOPointsCharts2020.xlsx'

In [ ]:
#download and parse the excel spreadsheet
#skip the 1st 10 preamble rows
df2020 = pd.read_excel (url2020, skiprows = 10)
# however it reads the 1st 10 preamble headings 
# could save file and manually delete 1st 10 rows but better to use pandas functionality

In [ ]:
df2020

In [ ]:
#spot check of data
# use loc or iloc functionality to check data
df2020.iloc[12]
#check the final line in the spreadsheet
# reminder 1st 11 rows are heading #excel identifies 1st row as zero
df2020.iloc[753]
# can also count backwards to last row
df2020.iloc[-1]

<br>

### save original file 

***

In [ ]:
pathxlsx = 'data/cao2020_' + now.strftime('%Y%m%d_%H%M%S')  + '.xlsx'
now.strftime('%Y%m%d_%H%M%S')
#save the original html file
with open(pathxlsx, 'w') as f:
    f.write(resp.text)

In [ ]:
#urllib save the original file to disk

urlrq.urlretrieve (url2020, pathxlsx)

<br>

#### create a filepath for pandas data
***

In [ ]:
#save the output to a csv file
path2020 = 'data/cao2020_' + now.strftime('%Y%m%d_%H%M%S')  + '.csv'
df2020.to_csv(path2020)

<br>

https://pandas.pydata.org/docs/reference/api/pandas.read_excel.htmlpandas.read_excel <br> function signature in pandas excel webpage: (io, sheet_name=0, header=0, names=None, index_col=None, usecols=None, squeeze=False, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, parse_dates=False, date_parser=None, thousands=None, comment=None, skipfooter=0, convert_float=None, mangle_dupe_cols=True, storage_options=None)Â¶
skiprows is what we need

## fetch earlier year points data and save in data files

<br>

## 2019 points
-as pdf option here is to read do it manually before getting pandas to read it as a csv

http://www.cao.ie/index.php?page=points&p=2019

***

-Note the 2019 and earlier points are in pdf format<br>
Main points inndex url: <br>
https://www.cao.ie/index.php?page=points

<br>
### steps to reproduce the 2019 editable:
****

Python libraries to check out to 'scrape pdf's':

Tabula,Camelot,Excalibur

Manual way of extracting:
1. save pdf in repository
2. open original with MS Word (may need to 'choose other app to open' in dropdown
3. MS Word converts pdf to Word
4. Save file as xxxxx.docx format
5. Resave a copy to edit in repo as xxxxx_edited.docx
6  Delete headers and footers
7. delete preamble on page 1
8. Ctrl 'A', Ctrl 'C' to copy all data in the 21 separate tables
9. Open notepad++ and paste 'Ctrl V'

### manual editing in notepad ++
1. Add HEI to header
2.Select the 'College/Institute' i.e. 'Athlone Institute of Technology'
3. Ctrl X to cut
4. Move cursor to in front of AIT 1st course line
5. Hold down ALT key and drag cursor down to all AIT courses
6. Ctrl V to paste - click 'tab' key to create tabs
7. Delete blank lines
8. Put double quotes around college names as they have commas [select start of string with cursor-alt-type "]
9. Change backticks to apostrophes
10. optional : \t  in extended file 'replace all' with comma: replaces all the tabs with commas <br> however not recommended here as commas elsewhere will confuse. <br> best to leave tabs as delimiters  e.g. in effect its as 'tsv' tab serapated file but can save as csv
11. find \\t replace with \t finds the double tabs and removes them
11. save file

In [ ]:
df2019 = pd.read_csv('data/cao2019_20211102_191031_edited.csv', sep ='\t')

In [ ]:
df2019

In [ ]:
# fetch the CAO points URL.  The url for earlier years takes you to a pdf version
# However the python code to fetch appears to work
resp = rq.get ('http://www2.cao.ie/points/lvl8_19.pdf')
#have a quick peek
resp
# resp [200] means html response is in order.  [404] if returns means it is not found .  These are http codes

In [ ]:
path2019 = 'data/cao2019_' + now.strftime('%Y%m%d_%H%M%S')  + '.html'
now.strftime('%Y%m%d_%H%M%S')
#save the original html file
with open(path2019, 'w') as f:
    f.write(resp.text)

#### fetch 2018

**propose to go through the same process as 2019**

In [ ]:
resp = rq.get ('http://www2.cao.ie/points/lvl8_18.pdf')
resp

In [ ]:
path2018 = 'data/cao2018_' + now.strftime('%Y%m%d_%H%M%S')  + '.html'
now.strftime('%Y%m%d_%H%M%S')
#save the original html file
with open(path2018, 'w') as f:
    f.write(resp.text)

###How to convert pdf to csv in python- further reading: <br>
-https://stackoverflow.com/questions/49560486/how-to-convert-pdf-to-csv-with-tabula-py

<br>

### Concatenate and Merge dataframes

how to concatenate with pandas <br>
note 'ignore_index'= True <br>
https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html <br>
how to manage duplicates in a dataframe <br>
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html <br>
how to return uniques in dastaframe columns <br>
https://pandas.pydata.org/docs/reference/api/pandas.Series.unique.html <br>
how to drop duplicates in dataframe <br>
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html

In [ ]:
#extract the required columns (course and points) from the dataframe
courses2021= df2021[['code' , 'title']]

In [ ]:
courses2021

In [ ]:
courses2020= df2020[['COURSE CODE2' , 'COURSE TITLE']]
# change the title of the columns to match 2021
courses2020.columns = ['code' ,'title']

In [ ]:
courses2020

In [ ]:
#merge or concatenate the two datasets into one dataframe
#set ignore_index = True (default is False)
allcourses = pd.concat([courses2021, courses2020], ignore_index=True)

In [ ]:
allcourses

In [ ]:
# returns a false for every row that are not duplicated
allcourses.duplicated()

In [ ]:
#finds all extra copies of duplicated rows
#duplicated by default doesnt set the 1st iteration of the matching rows as true (returns false)
allcourses[allcourses.duplicated()]

In [ ]:
allcourses[allcourses.duplicated(keep = False)]

In [ ]:
#returns back the dataframe with all duplicates dropped
allcourses.drop_duplicates()

In [ ]:
# just look for duplicates of the code- as the course titles are likely different from year to year
allcourses[allcourses.duplicated(subset =['code'])]

In [ ]:
#drop duplicates based on the same code
allcourses.drop_duplicates(subset=['code'])

In [ ]:
#drop duplicates based on the same code
#creates a new dataframe as by default-this is identified by 'inplace=False'
#ignore_index cleans up the duplicates in the index i.e. counts just one of duplicates indexes
allcourses.drop_duplicates(subset=['code'], inplace=True, ignore_index=True)

In [ ]:
#as we used inplace=True then we have permanentlty unduplicated the dataframe for codes
#when run allcourses this time the default dtaframe has no course code duplicates
allcourses

reset index in pandas dataframe<br>
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html

In [ ]:
#sort by courses
allcourses.sort_values ('code')

In [ ]:
allcourses.loc[0]

In [ ]:
allcourses.iloc[0]

<br>

## Join to the Points 
***
<br>

worth knowing: pandas dataframe.join
how:
**main event is left**
- left join: - whatever df is on the left (join call) the other is on the right . keeps everything from the left
- only join: keeps values in BOTH dataframes
- right join: keeps everything in the right dataframe
- full-outer join merges everything- (have a lot of NaN's)

In [ ]:
#set the index to the code column
df2021.set_index ('code', inplace=True)
df2021.columns = ['title' , 'points_r1_2021', 'points_r2_2021']
df2021

In [ ]:
#pull in the points from 2021 and 2020
#see pandas concatenate reference above

In [ ]:
#set the column as the index
allcourses.set_index('code', inplace =True)

In [ ]:
#just merge what you need from the 2021 dataframe i.e. code and points
#where NaN it defines as code that was not run in 2021
allcourses = allcourses.join(df2021[['points_r1_2021']])
allcourses

In [ ]:
# just need to join the pointd from 2020
df2020_r1= df2020 [['COURSE CODE2', 'R1 POINTS']]
df2020_r1.columns = ['code', 'points_R1_2020']
df2020_r1

In [ ]:
# set the index to the code column
df2020_r1.set_index ('code', inplace=True)
df2020_r1

In [ ]:
#just merge what you need from the 2021 dataframe i.e. code and points
#where NaN it defines as code that was not run in 2021
#join2020 points to all courses
#allcourses = allcourses.join(df2021[['pointsR1']])
#allcourses

In [ ]:
# join 2020 points to all courses
allcourses = allcourses.join(df2020_r1)
allcourses

https://www.prepressure.com/library/technology/ascii-binary-hex

http://www.i18nqa.com/debug/table-iso8859-1-vs-windows-1252.html

https://docs.python.org/3/library/datetime.html

https://www.ibm.com/ie-en/products/spss-statistics-gradpack

In [ ]:
#strftime turns datetime to strings
#strptime turns strings into datetime

#### SPSS
SPSS currently owned by IBM <br> 
All click and point <br>
Not as powerful as Python <br>
'Level of Measurement'<br>
Typically dealing with one table of data <br>
Similar functionality but less friendly than Excel <br>
clone function (open source) called PSPP <br>
Laerd: Really high quality stastistical explanations <br>
 to e.g. get a good explanation of e..g. One Way Anova type 'Laerd One Way Anova' etc

https://www.ibm.com/ie-en/products/spss-statistics-gradpack <br>
https://www.gnu.org/software/pspp/ (PSPP) <br>
https://statistics.laerd.com/ (Laerd) <br>

### Categorical (Variables)
- similar to qualitative data
- sex
- job description
- opinion
##### Nominal: no inherent order
- job category: doctor, accountant
##### Ordinal: there is a meaningful order but not a measurable distance between categories
-items can be ranked <br>
- 1st, 2nd, 3rd<br>
- strongle disagree, disagree, neutral, strongly agree<br>
- does not allow for relative degree of difference between them
### Scale (Variables)
typically as INTERVAL or RATIO <br>
values can be ordered <br>
suggest a distance between values <br>
age, salary <br>
##### INTERVAL
-20C is not twice as hot as 10C<br>
##### RATIO
-20K is not twice as hot as 10K<br>
-true zero point
-numercial values can be transfprmed by multiplying each value by a constant


##### Further reading
1 Stanley Stevens: Invented classifications related to:<br>
Level of Measurement <br>
Scales of Measurement
 his original 1946 paper can still be sourced
2. Aelph Number
3. Cantors Diagonal Argument <br>
certain infite sets 0,1,2,3 v 2,4,6,8.. must have same size as can be paired <br>
 but are actually not the same size
4. Ordinal Numbers <br>
natural numbers 

- NOMINAL/ORDINAL/INTERVAL/RATIO <br>

-https://symbiosiscollege.edu.in/assets/pdf/e-learning/tyba/Economics/Scales-of-Measurement-6.pdf