# Messing with code from W3

## There are four collection data types in the Python programming language:

- **List** is a collection which is ordered and changeable. Allows duplicate members.
- **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
- **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- **Dictionary** is a collection which is ordered** and changeable. No duplicate members.

In [1]:
the_beatles = ["john", "paul", "george" , 'ringo']
for i in range(len(the_beatles)):
  print(the_beatles[i])

john
paul
george
ringo

In [5]:
i = 0
while i < len(the_beatles):
  print(the_beatles[i])
  i = i + 1

john
paul
george
ringo

In [4]:
[print(x) for x in the_beatles]

john
paul
george
ringo

[None, None, None, None]

newlist = [expression for item in iterable if condition == True] <br>
**Condition** <br>
The condition is like a filter that only accepts the items that valuate to True.

In [6]:
newlist = []

for x in the_beatles:
  if "a" in x:
    newlist.append(x)

print(newlist)

['paul']

In [12]:
newlist = []

for x in the_beatles:
  if "e" in x:
    newlist.append(x)

print(newlist)

['george']

In [13]:
newlist = []

for x in the_beatles:
  if "o" in x:
    newlist.append(x)

print(newlist)

['john', 'george', 'ringo']

In [14]:
newlist = [x for x in the_beatles if x != "john"]
print(newlist)

['paul', 'george', 'ringo']

### Iterable
The iterable can be any iterable object, like a list, tuple, set etc

In [19]:
newlist = [x for x in range(4)]
print(newlist)

[0, 1, 2, 3]

# Expression
The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

In [22]:
newlist = ['brian' for x in the_beatles]
print(newlist)

['brian', 'brian', 'brian', 'brian']

In [25]:
#return (replace) john with brian
newlist = [x if x != "john" else "brian" for x in the_beatles]
print(newlist)

['brian', 'paul', 'george', 'ringo']

In [26]:
#sort list alphabetically. Note works with numbers too!
the_beatles = ["john", "paul", "george" , 'ringo']
the_beatles.sort()
print(the_beatles)

['george', 'john', 'paul', 'ringo']

In [27]:
#sort list alphabetically but reverse order. Note works with numbers too!
the_beatles = ["john", "paul", "george" , 'ringo']
the_beatles.sort(reverse =True)
print(the_beatles)

['ringo', 'paul', 'john', 'george']

In [29]:
# use list() to create a copy
the_beatles = ["john", "paul", "george" , 'ringo']
the_new_beatles= list(the_beatles)
print(the_new_beatles)

['john', 'paul', 'george', 'ringo']

In [32]:
# add lists
both_bands = (the_beatles + the_new_beatles)
print(both_bands)

['john', 'paul', 'george', 'ringo', 'john', 'paul', 'george', 'ringo']

**Method	Description**
- append()	Adds an element at the end of the list
- clear()	Removes all the elements from the list
- copy()	Returns a copy of the list
- count()	Returns the number of elements with the specified value
- extend()	Add the elements of a list (or any iterable), to the end of the current list
- index()	Returns the index of the first element with the specified value
- insert()	Adds an element at the specified position
- pop()	Removes the element at the specified position
- remove()	Removes the item with the specified value
- reverse()	Reverses the order of the list
- sort()	Sorts the list

# Tuples
- ( )
- ordered
- unchangeable
- indexed (so can have duplicates)
- To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [41]:
tuple0 = ('apple')
tuple1 = ("john", "paul", "george" , 'ringo')
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple4 = ('john', True, 6,)
print(type(tuple4))

<class 'tuple'>

# Dictionaries

- { }
- Dictionary items are ordered, changeable, and does not allow duplicates.
- Dictionary items are presented in **key:value** pairs, and can be referred to by using the key name

In [10]:
thisband = {
  "Lead": "John",
  "Bass": "Paul",
  "year": 1964,
    "year": 1965
}
print(thisband)

{'Lead': 'John', 'Bass': 'Paul', 'year': 1965}

In [9]:
#case sensitive
print(thisband["Lead"])

John