# Messing with code from W3

## There are four collection data types in the Python programming language:

- **List** is a collection which is ordered and changeable. Allows duplicate members.
- **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
- **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- **Dictionary** is a collection which is ordered** and changeable. No duplicate members.

In [1]:
the_beatles = ["john", "paul", "george" , 'ringo']
for i in range(len(the_beatles)):
  print(the_beatles[i])

john
paul
george
ringo

In [5]:
i = 0
while i < len(the_beatles):
  print(the_beatles[i])
  i = i + 1

john
paul
george
ringo

In [4]:
[print(x) for x in the_beatles]

john
paul
george
ringo

[None, None, None, None]

newlist = [expression for item in iterable if condition == True] <br>
**Condition** <br>
The condition is like a filter that only accepts the items that valuate to True.

In [6]:
newlist = []

for x in the_beatles:
  if "a" in x:
    newlist.append(x)

print(newlist)

['paul']

In [12]:
newlist = []

for x in the_beatles:
  if "e" in x:
    newlist.append(x)

print(newlist)

['george']

In [13]:
newlist = []

for x in the_beatles:
  if "o" in x:
    newlist.append(x)

print(newlist)

['john', 'george', 'ringo']

In [14]:
newlist = [x for x in the_beatles if x != "john"]
print(newlist)

['paul', 'george', 'ringo']

### Iterable
The iterable can be any iterable object, like a list, tuple, set etc

In [19]:
newlist = [x for x in range(4)]
print(newlist)

[0, 1, 2, 3]

# Expression
The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

In [22]:
newlist = ['brian' for x in the_beatles]
print(newlist)

['brian', 'brian', 'brian', 'brian']

In [25]:
#return (replace) john with brian
newlist = [x if x != "john" else "brian" for x in the_beatles]
print(newlist)

['brian', 'paul', 'george', 'ringo']

In [26]:
#sort list alphabetically. Note works with numbers too!
the_beatles = ["john", "paul", "george" , 'ringo']
the_beatles.sort()
print(the_beatles)

['george', 'john', 'paul', 'ringo']

In [27]:
#sort list alphabetically but reverse order. Note works with numbers too!
the_beatles = ["john", "paul", "george" , 'ringo']
the_beatles.sort(reverse =True)
print(the_beatles)

['ringo', 'paul', 'john', 'george']

In [29]:
# use list() to create a copy
the_beatles = ["john", "paul", "george" , 'ringo']
the_new_beatles= list(the_beatles)
print(the_new_beatles)

['john', 'paul', 'george', 'ringo']

In [32]:
# add lists
both_bands = (the_beatles + the_new_beatles)
print(both_bands)

['john', 'paul', 'george', 'ringo', 'john', 'paul', 'george', 'ringo']

**Method	Description**
- append()	Adds an element at the end of the list
- clear()	Removes all the elements from the list
- copy()	Returns a copy of the list
- count()	Returns the number of elements with the specified value
- extend()	Add the elements of a list (or any iterable), to the end of the current list
- index()	Returns the index of the first element with the specified value
- insert()	Adds an element at the specified position
- pop()	Removes the element at the specified position
- remove()	Removes the item with the specified value
- reverse()	Reverses the order of the list
- sort()	Sorts the list

# Tuples
- ( )
- ordered
- unchangeable
- indexed (so can have duplicates)
- To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [41]:
tuple0 = ('apple')
tuple1 = ("john", "paul", "george" , 'ringo')
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple4 = ('john', True, 6,)
print(type(tuple4))

<class 'tuple'>

# Dictionaries

- { }
- Dictionary items are ordered, changeable, and does not allow duplicates.
- Dictionary items are presented in **key:value** pairs, and can be referred to by using the key name

In [10]:
thisband = {
  "Lead": "John",
  "Bass": "Paul",
  "year": 1964,
    "year": 1965
}
print(thisband)

{'Lead': 'John', 'Bass': 'Paul', 'year': 1965}

In [9]:
#case sensitive
print(thisband["Lead"])

John

## NumPy

NumPy is a Python library.<br>
NumPy is used for working with **arrays**.<br>
NumPy is short for "Numerical Python".

## Pandas
- Pandas is a Python library.
- Pandas is used to analyze **data**.

## SciPy
- SciPy is a scientific computation library that uses NumPy underneath.
- SciPy stands for Scientific Python.

## Matplotlib

- Matplotlib is a low level graph plotting library in python that serves as a visualization utility.
- Matplotlib was created by John D. Hunter.
- Matplotlib is open source and we can use it freely.
- Matplotlib is mostly written in python, a few segments are written in C, Objective-C and Javascript for Platform compatibility.

#### Regular Expressions

**findall**	Returns a list containing all matches <br>
**search**	Returns a Match object if there is a match anywhere in the string <br>
**split**	Returns a list where the string has been split at each match <br>
**sub**	Replaces one or many matches with a string

"[ ]"	A set of characters	"[a-m]"	<br>
"\"	Signals a special sequence (can also be used to escape special characters)	"\d"	<br>
"."	Any character (except newline character)	"he..o"	<br>
"^"	Starts with	"^hello"	<br>
""$""	Ends with	"planet$""	<br>
"*"	Zero or more occurrences	"he.*o"	<br>
"+"	One or more occurrences	"he.+o"	<br>
"?"	Zero or one occurrences	"he.?o"	<br>
"{ }"	Exactly the specified number of occurrences	"he{2}o"	<br>
"|"	Either or	"falls|stays"	<br>
"( )"	Capture and group

**\A**	Returns a match if the specified characters are at the beginning of the string	"\AThe"	
**\b**	Returns a match where the specified characters are at the beginning or at the end of a word
(the "r" in the beginning is making sure that the string is being treated as a "raw string")	r"\bain"
r"ain\b"	
**\B**	Returns a match where the specified characters are present, but NOT at the beginning (or at the end) of a word
(the "r" in the beginning is making sure that the string is being treated as a "raw string")	r"\Bain"
r"ain\B"	
**\d**	Returns a match where the string contains digits (numbers from 0-9)	"\d"	
**\D**	Returns a match where the string DOES NOT contain digits	"\D"	
**\s**	Returns a match where the string contains a white space character	"\s"	
**\S**	Returns a match where the string DOES NOT contain a white space character	"\S"	
**\w**	Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore _ character)	"\w"	
**\W**	Returns a match where the string DOES NOT contain any word characters	"\W"	
**\Z**	Returns a match if the specified characters are at the end of the string

In [6]:
import re

txt = "The rain in Spain"

#Return a match at every white-space character:

x = re.findall("i",txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['i', 'i', 'i']
Yes, there is at least one match!

In [49]:
import re

#Split the string at every white-space character:
# \s Returns a match where the string contains a white space character
# returns an array
cao = "Code Title PointsR1 PointsR2"
#FINDALL
x1 = re.findall("i", cao)
# str is present at the start of a word
# r at front ensure that the string is being treated as a "raw string"
x2 = re.findall(r"\bode", cao)
# str is NOT present at the start of a word i.e. mid & end
x3 = re.findall(r"\Bode", cao)
# returns digits
x4 = re.findall("\d", cao)
#returns all NOT digits
x5 = re.findall("\D", cao)
# returns a match where string is white space           
x6 = re.findall("\s", cao)
# returns a match where string is NOT white space            
x7 = re.findall("\S", cao)

#SPLIT
# Returns a list where string is white space
x8 = re.split("\s", cao)
# returns a list where string is NOT white space
x9 = re.split("\S", cao)
# Returns a list where string is white space but just 1st occurrence
x10 = re.split("\s", cao, 1)

#SEARCH
# The search() function searches the string for a match, and returns a Match object if there is a match
x11 = re.search("\s", cao)
# Search for an upper case "T" character in the beginning of a word, and print its position:
x12 = re.search(r"\bT\w+", cao)

# SUB
#The sub() function replaces the matches with the text of your choice:
x13 = re.sub("\s", "*", cao)
#The sub() function replaces the matches with the text of your choice:
x14 = re.sub("\s", "*", cao, 2)


print("x is ", (x))
print("x2 is ", (x2))
print("x3 is ", (x3))
print("x4 is ", (x4))
print("x5 is ", (x5))
print("x6 is ", (x6))
print("x7 is ", (x7))
print("x8 is ", (x8))
print("x9 is ", (x9))
print("x10 is ", (x10))
print("The first white-space character is located in position:", x11.start())
print("x12 is ", (x12.span())) #span outputs the str position
print("x13 is ", (x13))
print("x14 is ", (x14))

x is  ['The', 'rain', 'in', 'Spain123']
x2 is  []
x3 is  ['ode']
x4 is  ['1', '2']
x5 is  ['C', 'o', 'd', 'e', ' ', 'T', 'i', 't', 'l', 'e', ' ', 'P', 'o', 'i', 'n', 't', 's', 'R', ' ', 'P', 'o', 'i', 'n', 't', 's', 'R']
x6 is  [' ', ' ', ' ']
x7 is  ['C', 'o', 'd', 'e', 'T', 'i', 't', 'l', 'e', 'P', 'o', 'i', 'n', 't', 's', 'R', '1', 'P', 'o', 'i', 'n', 't', 's', 'R', '2']
x8 is  ['Code', 'Title', 'PointsR1', 'PointsR2']
x9 is  ['', '', '', '', ' ', '', '', '', '', ' ', '', '', '', '', '', '', '', ' ', '', '', '', '', '', '', '', '']
x10 is  ['Code', 'Title PointsR1 PointsR2']
The first white-space character is located in position: 4
x12 is  (5, 10)
x13 is  Code*Title*PointsR1*PointsR2
x14 is  Code*Title*PointsR1 PointsR2