# Messing with code from W3

## There are four collection data types in the Python programming language:

- **List** is a collection which is ordered and changeable. Allows duplicate members.
- **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
- **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- **Dictionary** is a collection which is ordered** and changeable. No duplicate members.

In [1]:
the_beatles = ["john", "paul", "george" , 'ringo']
for i in range(len(the_beatles)):
  print(the_beatles[i])

john
paul
george
ringo

In [2]:
i = 0
while i < len(the_beatles):
  print(the_beatles[i])
  i = i + 1

john
paul
george
ringo

In [3]:
[print(x) for x in the_beatles]

john
paul
george
ringo

[None, None, None, None]

newlist = [expression for item in iterable if condition == True] <br>
**Condition** <br>
The condition is like a filter that only accepts the items that valuate to True.

In [4]:
newlist = []

for x in the_beatles:
  if "a" in x:
    newlist.append(x)

print(newlist)

['paul']

In [5]:
newlist = []

for x in the_beatles:
  if "e" in x:
    newlist.append(x)

print(newlist)

['george']

In [6]:
newlist = []

for x in the_beatles:
  if "o" in x:
    newlist.append(x)

print(newlist)

['john', 'george', 'ringo']

In [7]:
newlist = [x for x in the_beatles if x != "john"]
print(newlist)

['paul', 'george', 'ringo']

### Iterable
The iterable can be any iterable object, like a list, tuple, set etc

In [8]:
newlist = [x for x in range(4)]
print(newlist)

[0, 1, 2, 3]

# Expression
The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

In [9]:
newlist = ['brian' for x in the_beatles]
print(newlist)

['brian', 'brian', 'brian', 'brian']

In [10]:
#return (replace) john with brian
newlist = [x if x != "john" else "brian" for x in the_beatles]
print(newlist)

['brian', 'paul', 'george', 'ringo']

In [11]:
#sort list alphabetically. Note works with numbers too!
the_beatles = ["john", "paul", "george" , 'ringo']
the_beatles.sort()
print(the_beatles)

['george', 'john', 'paul', 'ringo']

In [12]:
#sort list alphabetically but reverse order. Note works with numbers too!
the_beatles = ["john", "paul", "george" , 'ringo']
the_beatles.sort(reverse =True)
print(the_beatles)

['ringo', 'paul', 'john', 'george']

In [13]:
# use list() to create a copy
the_beatles = ["john", "paul", "george" , 'ringo']
the_new_beatles= list(the_beatles)
print(the_new_beatles)

['john', 'paul', 'george', 'ringo']

In [14]:
# add lists
both_bands = (the_beatles + the_new_beatles)
print(both_bands)

['john', 'paul', 'george', 'ringo', 'john', 'paul', 'george', 'ringo']

**Method	Description**
- append()	Adds an element at the end of the list
- clear()	Removes all the elements from the list
- copy()	Returns a copy of the list
- count()	Returns the number of elements with the specified value
- extend()	Add the elements of a list (or any iterable), to the end of the current list
- index()	Returns the index of the first element with the specified value
- insert()	Adds an element at the specified position
- pop()	Removes the element at the specified position
- remove()	Removes the item with the specified value
- reverse()	Reverses the order of the list
- sort()	Sorts the list

# Tuples
- ( )
- ordered
- unchangeable
- indexed (so can have duplicates)
- To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [15]:
tuple0 = ('apple')
tuple1 = ("john", "paul", "george" , 'ringo')
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple4 = ('john', True, 6,)
print(type(tuple4))

<class 'tuple'>

# Dictionaries

- { }
- Dictionary items are ordered, changeable, and does not allow duplicates.
- Dictionary items are presented in **key:value** pairs, and can be referred to by using the key name

In [16]:
thisband = {
  "Lead": "John",
  "Bass": "Paul",
  "year": 1964,
    "year": 1965
}
print(thisband)

{'Lead': 'John', 'Bass': 'Paul', 'year': 1965}

In [17]:
#case sensitive
print(thisband["Lead"])

John

## NumPy

NumPy is a Python library.<br>
NumPy is used for working with **arrays**.<br>
NumPy is short for "Numerical Python".

## Pandas
- Pandas is a Python library.
- Pandas is used to analyze **data**.

## SciPy
- SciPy is a scientific computation library that uses NumPy underneath.
- SciPy stands for Scientific Python.

## Matplotlib

- Matplotlib is a low level graph plotting library in python that serves as a visualization utility.
- Matplotlib was created by John D. Hunter.
- Matplotlib is open source and we can use it freely.
- Matplotlib is mostly written in python, a few segments are written in C, Objective-C and Javascript for Platform compatibility.

<br>

---
#### Regular Expressions
https://en.wikipedia.org/wiki/Regular_expression

A quantifier after a token (such as a character) or group specifies how often that a preceding element is allowed to occur. The most common quantifiers are the question mark ?, the asterisk * (derived from the Kleene star), and the plus sign + (Kleene plus). <br>
**?** The question mark indicates zero or one occurrences of the preceding element. *For example, colou?r matches both "color" and "colour".*<br>
**"*"** The asterisk indicates zero or more occurrences of the preceding element. For example, ab*c matches "ac", "abc", "abbc", "abbbc", and so on.<br>
**"+"** The plus sign indicates one or more occurrences of the preceding element. <br>For example, ab+c matches "abc", "abbc", "abbbc", and so on, but not "ac".<br>
**{n}** The preceding item is matched exactly n times.<br>
**{min,}** The preceding item is matched min or more times.<br>
**{,max}** The preceding item is matched up to max times.<br>
**{min,max}** The preceding item is matched at least min times, but not more than max times.<br>
**Wildcard**<br>
The wildcard **.** matches any character. <br>For example, a.b matches any string that contains an "a", and then any character and then "b"; <br>and a.*b matches any string that contains an "a", and then the character "b" at some later point.<br>

To match a full stop you have to escape it: '.' <br>

These constructions can be combined to form arbitrarily complex expressions.

When regular expressions sees a **backslash** \ it knows that it should interpret the next character **literally** <br>

---

**match**	Returns a match if matches start of the string <br>
**fullmatch**	Returns a lmatch if matches whole string <br>
**findall**	Returns a list containing all matches <br>
**search**	Returns a Match object if there is a match anywhere in the string <br>
**split**	Returns a list where the string has been split at each match <br>
**sub**	Replaces one or many matches with a string <br>
---

**[ ]**	A set of characters	"[a-m]"  *We can match any of a specified set or range of characters using square brackets e.g.: '[ab]'a or b [^ab] neither a or b * <br>
**\\**	Signals a special sequence (can also be used to escape special characters)	"\d"	<br>
**.**	Any character (except newline character)	"he..o"	<br>
**,** A stray comma i.e. **'a{3,}'**  means *or more* not **'a{3,4}'** which means "3 or 4" <br>
**^**	Starts with	"^hello"	<br>
**\\$** Ends with	"planet$""	<br>
**\***	Zero or more occurrences	"he.*o"	<br>
**+**	One or more occurrences	"he.+o"	<br>
**?**	Zero or one occurrences	"he.?o"	<br>
**{ }**	Exactly the specified number of occurrences	"he{2}o"	<br>
**|**	Either or	"falls|stays"	<br>
**( )**	Capture and group <br>
---

**\A**	Returns a match if the specified characters are at the beginning of the string	"\AThe"	
**\b**	Returns a match where the specified characters are at the beginning or at the end of a word
(the "r" in the beginning is making sure that the string is being treated as a "raw string")	r"\bain"
r"ain\b"	
**\B**	Returns a match where the specified characters are present, but NOT at the beginning (or at the end) of a word
(the "r" in the beginning is making sure that the string is being treated as a "raw string")	r"\Bain"
r"ain\B"	
**\d**	Returns a match where the string contains digits (numbers from 0-9)	"\d"	
**\D**	Returns a match where the string DOES NOT contain digits	"\D"	
**\s**	Returns a match where the string contains a white space character	"\s"	
**\S**	Returns a match where the string DOES NOT contain a white space character	"\S"	
**\w**	Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore _ character)	"\w"	
**\W**	Returns a match where the string DOES NOT contain any word characters	"\W"	
**\Z**	Returns a match if the specified characters are at the end of the string <br>
---

<br>On greedy vs non-greedy
Repetition in regex by default is greedy: <br> they try to match as many reps as possible, and when this doesn't work and they have to backtrack,<br> they try to match one fewer rep at a time,until a match of the whole pattern is found. <br>As a result, when a match finally happens, a greedy repetition would match as many reps as possible.<br>

The **?** as a repetition quantifier changes this behavior into non-greedy,<br> also called reluctant (in e.g. Java) (and sometimes "lazy"). <br>In contrast, this repetition will first try to match as few reps as possible, <br>and when this doesn't work and they have to backtrack, they start matching one more rept a time. <br>As a result, when a match finally happens, a reluctant repetition would match as few reps as possible.<br>
https://stackoverflow.com/questions/3075130/what-is-the-difference-between-and-regular-expressions <br>

References
"regular-expressions.info/Repetition - Laziness instead of Greediness"

---
Example 1: From A to Z
Let's compare these two patterns: A.*Z and A.*?Z.

Given the following input:

eeeAiiZuuuuAoooZeeee
The patterns yield the following matches:

A.*Z yields 1 match: AiiZuuuuAoooZ (see on rubular.com)
A.*?Z yields 2 matches: AiiZ and AoooZ (see on rubular.com)
Let's first focus on what A.*Z does. When it matched the first A, the .*, being greedy, first tries to match as many . as possible.

eeeAiiZuuuuAoooZeeee
   \_______________/
    A.* matched, Z can't match
Since the Z doesn't match, the engine backtracks, and .* must then match one fewer .:

eeeAiiZuuuuAoooZeeee
   \______________/
    A.* matched, Z still can't match
This happens a few more times, until finally we come to this:

eeeAiiZuuuuAoooZeeee
   \__________/
    A.* matched, Z can now match
Now Z can match, so the overall pattern matches:

eeeAiiZuuuuAoooZeeee
   \___________/
    A.*Z matched
By contrast, the reluctant repetition in A.*?Z first matches as few . as possible, and then taking more . as necessary. This explains why it finds two matches in the input.

Here's a visual representation of what the two patterns matched:

eeeAiiZuuuuAoooZeeee
   \__/r   \___/r      r = reluctant
    \____g____/        g = greedy

In [ ]:
import re

txt = "The rain in Spain"

#Return a match at every white-space character:

x = re.findall("i",txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

In [23]:
y = re.match("i",txt)

print(y)

None

In [ ]:
str1 = "eeeAiiZuuuuAoooZeeee"

re1 = re.findall("A.*Z", str1)
re2 = re.findall("A.*?Z", str1)

print("re1 is ", (re1))
print("re2 is ", (re2))

In [ ]:
import re

#Split the string at every white-space character:
# \s Returns a match where the string contains a white space character
# returns an array
cao = "Code Title Tittle PointsR1 PointsR2"
#FINDALL

#find set of characters between but not including
x1 = re.findall("[q-t]", cao)

#find set of characters - upper case only
x1b = re.findall("[A-Z]", cao)

#find set of characters- lowercase only
x1c = re.findall("[a-z]", cao)

#find set of characters - uppercase only- first four
x1d = re.findall("[A-Z]{4}", cao)

#find set of characters - lowercase only - first 5
x1e = re.findall("[a-z]{5}", cao)

#find set of characters - uppercase followed by one number
x1f = re.findall("[A-Z][0-9]{1}", cao)

#find set of characters - lowercase followed by one number
x1g = re.findall("[a-z][0-9]{1}", cao)


#find set of digits between 0,1,2,3
x2 = re.findall("[0123]", cao)

#find set of digits in range 2-5
x3 = re.findall("[2-5]", cao)

#find set of two digits in range 2-5 and 6-8
x4 = re.findall("[2-5][6-8]", cao)

#find characters between (same # charascters as dots)
x5 = re.findall("Ti..e", cao)

# ^ check where string starts with not 2nd or further word
x6 = re.findall("^Cod", cao)

# $ find if full string ends in "R2"
x7 = re.findall("PointsR2$", cao)

# .* find all sequence with ZERO or more characters between "Ti" and "t"
x8 = re.findall("Ti.*t", cao)

# .+ find all sequence with ONE or more characters between "Ti" and "t"
x9 = re.findall("Ti.+t", cao)

# .? check if ZERO or ONE character between "Ti and le". Return the full word
x10 = re.findall("Ti.?le", cao)

#find all exactly the same number of character occurrences- returns Title but not Tittle
x11 = re.findall("Ti.{2}e", cao)

#find either Title or Tittle
x12 = re.findall("Title|Tittle", cao)

#find all string contains word characters (inc num, underscore etc)
x13 = re.findall("\w", cao)

#find all string does not contain word characters
x14 = re.findall("\W", cao)

#Returns a match if the specified characters are at the end of the string- e.f returns empty id 'POINTSR1'
x15 = re.findall("PointsR2\Z", cao)

# str is present at the start of a word
# r at front ensure that the string is being treated as a "raw string"
x16 = re.findall(r"\bode", cao)

# str is NOT present at the start of a word i.e. mid & end
x17 = re.findall(r"\Bode", cao)

# returns digits
x18 = re.findall("\d", cao)

#returns all NOT digits
x19 = re.findall("\D", cao)

# returns a match where string is white space           
x20 = re.findall("\s", cao)

# returns a match where string is NOT white space            
x21 = re.findall("\S", cao)


#SPLIT
# Returns a list where string is white space
x22 = re.split("\s", cao)

# returns a list where string is NOT white space
x23 = re.split("\S", cao)

# Returns a list where string is white space but just 1st occurrence
x24 = re.split("\s", cao, 1)


#SEARCH
# The search() function searches the string for a match, and returns a Match object if there is a match
x25 = re.search("apple", cao)

# The search() function searches the string for a match, and returns a Match object if there is a match
x26 = re.search("\s", cao)

# Search for an upper case "T" character in the beginning of a word, and print its position:
x27 = re.search(r"\bT\w+", cao)


# SUB
#The sub() function replaces the matches with the text of your choice:
x28 = re.sub("\s", "*", cao)

#The sub() function replaces the matches with the text of your choice:
x29 = re.sub("\s", "*", cao, 2)

print("x1 is ", (x1))
print("x1b is ", (x1b))
print("x1c is ", (x1c))
print("x1d is ", (x1d))
print("x1e is ", (x1e))
print("x1f is ", (x1f))
print("x1g is ", (x1g))

print("x2 is ", (x2))
print("x3 is ", (x3))
print("x4 is ", (x4))
print("x5 is ", (x5))
print("x6 is ", (x6))
print("x7 is ", (x7))
print("x8 is ", (x8))
print("x9 is ", (x9))
print("x10 is ", (x10))
print("x11 is ", (x11))
print("x12 is ", (x12))
print("x13 is ", (x13))
print("x14 is ", (x14))
print("x15 is ", (x15))
print("x16 is ", (x16))
print("x17 is ", (x17))
print("x18 is ", (x18))
print("x19 is ", (x19))
print("x20 is ", (x20))
print("x21 is ", (x21))
print("x22 is ", (x22))
print("x23 is ", (x23))
print("x24 is ", (x24))
print("x25 is ", (x25))
print("x26 is ", (x26.span())) #span outputs the str position
print("The first white-space character is located in position:", x26.start())   
print("x27 is ", (x27))
print("x27 full word where the character is contained is :\t", (x27).group())
print("x27 full string where the character is contained is :\t", (x27).string)
print("x27 tuple where the character is contained is :\t", (x27).span())
print("x28 is ", (x28))
print("x29 is ", (x29))

#### some examples from lecture

In [ ]:
# Quantifiers mix with sets.
re.findall(r'[0-9]+', "1a22c333")

In [ ]:
# Quantifiers mix with sets. Doesnt matter different numbers
re.findall(r'[0-9]+', "1a12c123")

In [ ]:
# Match ab three to five times.
re.fullmatch('(ab){3,5}', 'ababab')

In [ ]:
# Match ab three to five times.
re.fullmatch('(ab){3,5}', 'abababab')

In [26]:
# Groups can be captured or not captured. e.g. either three or 5
re.fullmatch('(?:ab){3,5}', 'ababababab')

# continue and finish

https://realpython.com/python-operators-expressions/#logical-expressions-involving-boolean-operands

**Comparison Operators**<br>
*Operator	Example	Meaning	Result*<br>
==	a == b	Equal to	True if the value of a is equal to the value of b
False otherwise<br>
!=	a != b	Not equal to	True if a is not equal to b
False otherwise<br>
<	a < b	Less than	True if a is less than b
False otherwise<br>
<=	a <= b	Less than or equal to	True if a is less than or equal to b
False otherwise<br>
"">	a > b	Greater than	True if a is greater than b
False otherwise""<br>
"">=	a >= b	Greater than or equal to	True if a is greater than or equal to b
False otherwise""<br>

In [26]:
a = 10
b = 20
#a == b
#a != b
#a <= b
a >= b

False

In [28]:
a = 30
b = 30
a == b
#a <= b
#a >= b

True

In [29]:
x = 1.1 + 2.2
x == 3.3

False

In [30]:
tolerance = 0.00000001
x = 1.1 + 2.2
abs (x-3.3) < tolerance

True